{% load static %}

<!-- footer fixed -->
<div class="bottom-nav">
  <a href="{% url 'dalil_home' %}" class="nav-item">
    <i class="fas fa-home nav-icon"></i>
      <span>الرئيسة</span>
  </a>
  <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSdIJcsZD9iOsvD9QLYo4mSN-hWxQkZTqhJd1OzPl49qQ4XTzA/viewform" class="nav-center" target="_blank"> -->
  <a href="{% url 'dalil_create' %}" class="nav-center" target="_blank">
      <div class="nav-circle">
        <i class="far fa-add nav-icon" style="color: black;" ></i>
      </div>
    </a>
  <a href="{% url 'dalilalaemal_search' %}" class="nav-item">
    <i class="fa-solid fa-magnifying-glass"></i>
    <span>بحث</span>
  </a>
</div>
<!-- /.footer fixed -->
