{% extends 'base_dalil.html' %} {% load static %} {% block title %} | Create
Company {% endblock %} {% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="{% static 'dist/css/signin.css' %}?v=0.3" />

<div class="content-wrapper">
  <div class="content-main">
    <div class="login-container">
      <h2>تغيير كلمة المرور</h2>
      <form method="POST">
        {% csrf_token %} {% include 'partials/_alerts.html' %} {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">تغيير كلمة المرور</button>
      </form>
      <p class="signup-link"><a href="{% url 'signup' %}">مستخدم جديد</a></p>
    </div>
  </div>
</div>
{% endblock %}
