{% extends 'base_dalil.html' %} {% load static %} {% block title %} | Create
Company {% endblock %} {% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="{% static 'dist/css/signin.css' %}?v=0.3" />

<div class="content-wrapper">
  <div class="content-main">
    <div class="login-container">
      <h2>تم تغيير كلمة المرور بنجاح</h2>
      <form method="POST">
        <div class="container">
          <p>لقد تم تغيير كلمة المرور الخاصة بك بنجاح. يمكنك الآن استخدام كلمة المرور الجديدة لتسجيل الدخول في المستقبل.</p>
          <a href="{% url 'signin' %}" class="btn btn-primary">تسجيل الدخول</a>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
