{% extends 'base_dalil.html' %} {% load static %} {% block title %} |
Create Company {% endblock %} {% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="content-wrapper">
  <div class="content-main" style="margin-top: 70px">
    <div class="modal-content">
      <div class="modal-body">
        {% include 'partials/_alerts.html' %}
        <!-- Start Modal Countries -->
        <form method="POST" enctype="multipart/form-data">
          <div
            class="form-row main-title"
            style="display: flex; align-items: center; align-content: center; justify-content: space-between;"
          >
            <h5
              class="form-group"
              style="color: var(--subColor); margin: 0;">
              الملف الشخصي
            </h5>
            <a href="{% url 'profile_update' user_profile.userID.id %}" class="btn btn-save"">
              <i class="fas fa-edit"></i> تعديل البيانات</a>
          <!-- <button >تحديث البيانات</button> -->

          </div>
          {% csrf_token %}
          <br />
          
          
          <form method="POST">
            {% csrf_token %}
            <!-- {{ user.as_p }}
            {{ user_profile.as_p }} -->

            <div class="form-row">
              <label class="form-group col-md-3 title-label">الإسم الأول</label>
              <div class="form-group col-md-3">{{user.first_name}}</div>
            </div>
            
            <div class="form-row">
              <label class="form-group col-md-3 title-label">إسم العائلة</label>
              <div class="form-group col-md-6">{{user.last_name}}</div>
            </div>

            <div class="form-row">
              <label class="form-group col-md-3 title-label">الجنس</label>
              <div class="form-group col-md-6">{{user_profile.genderID}}</div>
            </div>
            <div class="form-row">
              <label class="form-group col-md-3 title-label">إسم المستخدم</label>
              <div class="form-group col-md-6">{{user.username}}</div>
            </div>
            <div class="form-row">
              <label class="form-group col-md-3 title-label">صورة ملف شخصي</label>
              <div class="form-group col-md-6">{{user_profile.photo}}</div>
            </div>
            <div class="form-row">
              <label class="form-group col-md-3 title-label">رقم هاتف</label>
              <div class="form-group col-md-6">{{user_profile.phone}}</div>
            </div>   
            <div class="form-row">
              <label class="form-group col-md-3 title-label">رقم هاتف آخر</label>
              <div class="form-group col-md-6">{{user_profile.phoneOther}}</div>
            </div>          
            <div class="form-row">
              <label class="form-group col-md-3 title-label">البريد الإلكتروني</label>
              <div class="form-group col-md-6">{{user.email}}</div>
            </div>  
            <div class="form-row">
              <label class="form-group col-md-3 title-label">بلد الإقامة</label>
              <div class="form-group col-md-6">{{user_profile.countryID}}</div>
            </div>
     
            <div class="form-row">
              <label class="form-group col-md-3 title-label">الموطن الأصلي</label>
              <div class="form-group col-md-6">{{user_profile.nationalityID}}</div>
            </div>

              <div class="form-group col-md-6">{{user.password1}}</div>
              <div class="form-group col-md-6">{{user.password2}}</div>
            </div>
        </form>
        
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
