{% extends 'base_dalil.html' %} {% load static %} {% block title %} | Create
Company {% endblock %} {% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="content-wrapper">
  <div class="content-main">
    {% include 'partials/_alerts.html' %}
    <link rel="stylesheet" href="{% static 'dist/css/signin.css' %}?v=0.3" />
    <div class="card card-outline card-primary" style="width: 80%">
      <div class="card-header text-center">
        <h3>تسجيل مستخدم جديد</h3>
      </div>
      <div class="card-body">
        {% include 'partials/_alerts.html' %}
        <form method="post">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-6">{{user_form.first_name}}</div>
            <div class="form-group col-6">{{user_form.last_name}}</div>
            <div class="form-group col-md-6">{{user_form.username}}</div>
            <div class="form-group col-md-6">{{profile_form.phone}}</div>
            <div class="form-group col-md-6">{{user_form.email}}</div>
            <div class="form-group col-6">{{profile_form.countryID}}</div>
            <div class="form-group col-6">{{profile_form.nationalityID}}</div>
            <div class="form-group col-6">{{user_form.password1}}</div>
            <div class="form-group col-6">{{user_form.password2}}</div>
          </div>
          <div class="row">
            <div class="col">
              <label>أوافق على<a href="#"> الشروط</a></label>
            </div>
            <div class="col">{{profile_form.terms}}</div>
            <div class="col">
              <button
                type="submit"
                name="btnsignup"
                class="btn btn-primary btn-block"
              >
                تسجيل
              </button>
            </div>
          </div>
        </form>
        <!-- <div class="social-auth-links text-center">
          <a href="#" class="btn btn-block btn-primary"><i class="fab fa-facebook mr-2"></i>تسجيل الدخول باستخدام الفيسبوك</a>
          <a href="#" class="btn btn-block btn-danger"><i class="fab fa-google-plus mr-2"></i>تسجيل الدخول باستخدام Google</a>
        </div> -->
        <!-- <a href="{% url 'signin' %}" class="text-center">لدي حساب بالفعل</a> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
