{% extends 'base.html' %} 
{% load static %} 
{% block title %} | Accounts Update ( {{account.id}} ) 
{% endblock %} {% block content %}
<div class="content-wrapper">
  <h4 class="main-title">تعديل حساب / {{account.name_ar}}</h4>
  <div class="content">
    <br />
    <form method="POST">
      <button type="submit" class="btn btn-save">حفظ التعديل</button>
      <a href="{% url 'accounts' %}" class="btn btn-close">إلغاء</a>
      <br />
      <br />
      {% csrf_token %} {% include 'partials/_alerts.html' %}
      <br />
      <div class=" form-row"> 
        <label class="form-group col-md-2 title-label">{{account_form.name_ar.label}}</label>
        <div class="form-group col-md-4">{{account_form.name_ar}}</div>
        <label class="form-group col-md-2 title-label">{{account_form.name_en.label}}</label>
        <div class="form-group col-md-4">{{account_form.name_en}}</div>
      </div>

      <div class=" form-row"> 
        <label class="form-group col-md-1 title-label">{{account_form.typeID.label}}</label>
        <div class="form-group col-md-3">{{account_form.typeID}}</div>
        <label class="form-group col-md-1 title-label">{{account_form.parent.label}}</label>
        <div class="form-group col-md-3">{{account_form.parent}}</div>
        <label class="form-group col-md-1 title-label">{{account_form.code.label}}</label>
        <div class="form-group col-md-3">{{account_form.code}}</div>
      </div>

      <div class=" form-row"> 
        <label class="form-group col-md-2 title-label">{{account_form.natureID.label}}</label>
        <div class="form-group col-md-2">{{account_form.natureID}}</div>
        <label class="form-group col-md-2 title-label">{{account_form.categoryID.label}}</label>
        <div class="form-group col-md-3">{{account_form.categoryID}}</div>
        <label class="form-group col-md-2 title-label">{{account_form.is_can_pay.label}}</label>
        <div class="form-group col-md-1">{{account_form.is_can_pay}}</div>
      </div>

      <div class=" form-row"> 
        <label class="form-group col-md-2 title-label">{{account_form.description.label}}</label>
        <div class="form-group col-md-10">{{account_form.description}}</div>
      </div>
 
    </form>
  </div>
</div>
{% endblock %}
