{% extends 'base.html' %} 
{% load static %} 
{% block title %} | Accounts Update ( {{account.id}} ) 
{% endblock %} {% block content %}
<div class="content-wrapper">
  <h4 class="main-title">تعديل حساب / {{account.name_ar}}</h4>
  <div class="content">
    <br />
    <form method="POST">
      <button type="submit" class="btn btn-save">حفظ التعديل</button>
      <a href="{% url 'accounts' %}" class="btn btn-close">إلغاء</a>
      <br />
      <br />
      {% csrf_token %} {% include 'partials/_alerts.html' %}
      <br />
      <div class=" form-row"> 
        <label class="form-group col-md-1 title-label">إسم الحساب عربي</label>
        <div class="form-group col-md-6">{{account_form.name_ar}}</div>
      </div>
      <div class=" form-row"> 
        <label class="form-group col-md-1 title-label">إسم الحساب إنجليزي</label>
        <div class="form-group col-md-6">{{account_form.name_en}}</div>
      </div>
      <div class=" form-row"> 
        <label class="form-group col-md-1 title-label">رمز الحساب</label>
        <div class="form-group col-md-6">{{account_form.code}}</div>
      </div>
      <div class=" form-row"> 
        <label class="form-group col-md-1 title-label">نوع الحساب</label>
        <div class="form-group col-md-6">{{account_form.typeID}}</div>
      </div>
      <div class=" form-row"> 
        <label class="form-group col-md-1 title-label">طبيعةالحساب</label>
        <div class="form-group col-md-6">{{account_form.natureID}}</div>
      </div>
      <div class=" form-row"> 
        <label class="form-group col-md-1 title-label">تصنيف الحساب</label>
        <div class="form-group col-md-6">{{account_form.categoryID}}</div>
      </div>
      <div class=" form-row"> 
        <label class="form-group col-md-1 title-label">وصف الحساب</label>
        <div class="form-group col-md-6">{{account_form.description}}</div>
      </div>
      <div class=" form-row"> 
        <label class="form-group col-md-1 title-label">إمكانية الدفع و السداد من الحساب</label>
        <div class="form-group col-md-6">{{account_form.is_can_pay}}</div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
