{% extends 'base.html' %} {% load static %} {% block title %} | Qayds {% endblock %} {% block content %} {% load humanize %}

<style>
  table {
    width: 100%;
    table-layout: auto;
  }

  th {
    text-align: center;
  }
  td {
    padding: 5px !important;
    text-align: center;
    vertical-align: middle !important;
    width: auto !important;
    white-space: nowrap;
    width: fit-content !important;
  }
  td input {
    padding: 5px;
    text-align: center;
  }
</style>

<div class="content-wrapper">
  <div class="main-title">
    <h4 class="form-group col-md-9">كشف حساب</h4>
  </div>
  <form method="GET" class="form-inline my-2 my-lg-0" action="{% url 'invoices_sales_search' %}">
    <a href="{% url 'invoice_sales_create' %}" class="btn btn-main">إضافة فاتورة جديدة</a>
    <button class="btn btn-main" type="submit">بحث<i class="fa-solid fa-magnifying-glass"></i></button>
    <a href="{% url 'invoices_sales' %}" class="btn btn-main" type="submit">إعادة تعيين<i class="fa-solid fa-rotate-right"></i></a>
    <div style="width: 100%;">
      <label style="max-width: 35%; font-weight: bold; background-color:rgb(201, 201, 201);" class="btn btn-main">من</label>
      <input style="width: 35%; background-color:black;" class="btn btn-main"  type="date" name="start_date" placeholder="بحث بالتاريخ"/>
      <label style="max-width: 35%; font-weight: bold; background-color:rgb(201, 201, 201);" class="btn btn-main">إلى</label>
      <input style="width: 35%; background-color:black;" class="btn btn-main"  type="date" name="end_date" placeholder="بحث بالتاريخ"/>
    </div>
    {{invoice_search_form.customerID}}
    {{invoice_search_form.currencyID}}
    {{invoice_search_form.inventoryID}}
    <input class="form-control mr-sm-2 remove-outline" name="search_invoice_number" placeholder="بحث برقم الفاتورة"/>
  </form>
 <div class="content">
    {% include 'partials/_alerts.html' %}
    <form method="POST">
      {% csrf_token %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">رقم القيد</th>
              <th scope="col">تاريخ القيد</th>
              <th scope="col">الحساب</th>
              <th scope="col">البيان</th>
              <th scope="col">العملة</th>
              <th scope="col">مدين</th>
              <th scope="col">دائن</th>
              <th scope="col">الرصيد</th>
            </tr>
          </thead>
          <tbody>
            {% for qayd_details in qayds_details %}
            <tr>
              <th data-label="#" scope="row">{{ forloop.counter }}</th>
              <td data-label="رقم القيد">{{ qayd_details.detail.qaydID.sequence }}</td>
              <td data-label="التاريخ">{{ qayd_details.detail.qaydID.date|date:"Y-m-d" }}</td>
              <td data-label="الحساب">{{ qayd_details.detail.accountID }}</td>
              <td data-label="البيان">{{ qayd_details.detail.description_details }}</td>
              <td data-label="العملة">{{ qayd_details.detail.currencyID}}</td>
              <td data-label="مدين">{{ qayd_details.detail.debit }}</td>
              <td data-label="دائن">{{ qayd_details.detail.credit }}</td>
              <td data-label="دائن">{{ qayd_details.balance  }}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th>{{total_debit|floatformat:2|intcomma}}</th>
            <th>{{total_credit|floatformat:2|intcomma}}</th>
            <th>{{difference|floatformat:2|intcomma}}</th>
           </tr>
        </table>
      </div>
    </form>
    <!-- End Modal -->
  </div>
</div>
{% endblock %}
