{% extends 'base.html' %} {% load static %} {% block title %} | Account Delete ( {{account.id}} )
{% endblock %} {% block content %}
<div class="content-wrapper">
  <h4 class="main-title">حذف حساب : {{account.name_ar}} {{account.code}}</h4>
  <div class="content">
    <br />
    <form method="POST" >
      {% csrf_token %} 
      {% include 'partials/_alerts.html' %}
      <div class=" form-row"> 
        <label class="form-group col-md-1 title-label">رمز الحساب</label>
        <div class="form-group col-md-3">{{account.code}}</div>
        <label class="form-group col-md-1 title-label">الحساب عربي</label>
        <div class="form-group col-md-3">{{account.name_ar}}</div>
        <label class="form-group col-md-1 title-label">الحساب إنجليزي</label>
        <div class="form-group col-md-3">{{account.name_en}}</div>
      </div>
      <div class=" form-row"> 
        <label class="form-group col-md-1 title-label">نوع الحساب</label>
        <div class="form-group col-md-3">{{account.typeID}}</div>
        <label class="form-group col-md-1 title-label">طبيعةالحساب</label>
        <div class="form-group col-md-3">{{account.natureID}}</div>
        <label class="form-group col-md-1 title-label">تصنيف الحساب</label>
        <div class="form-group col-md-3">{{account.categoryID}}</div>
      </div>
      <div class=" form-row"> 
        <label class="form-group col-md-1 title-label">تصنيف الميزانية</label>
        <div class="form-group col-md-3">{{account.categoryID.statementID}}</div>
        <label class="form-group col-md-1 title-label">وصف الحساب</label>
        <div class="form-group col-md-3">{{account.description}}</div>
        <label class="form-group col-md-1 title-label">إمكانية الدفع</label>
        <div class="form-group col-md-3">{{account.is_can_pay}}</div>
      </div>
      <br>
      <button type="submit" name="btndelete" class="btn btn-danger">تأكيد الحذف</button>
      <a href="{% url 'account_update' account.id %}" name="btnupdate" class="btn btn-save">تعديل</a>
      <a href="{% url 'accounts' %}" class="btn btn-close">إلغاء</a>
    </form>
    <br>
    <div class="form-row">
      <h6 class="form-group col-md-6" name="user">مُنشئ الحساب : {{qayd_id.userID}} </h6>
    </div>
  </div>
</div>
{% endblock %}
