{% extends 'base.html' %} {% load static %} {% block title %} | Qayd Update ( {{qayd_id.id}} )
{% endblock %} {% block content %}
<div class="content-wrapper">
  <h4 class="main-title">تعديل القيد رقم : ( {{qayd_id.id}} )</h4>
  <div class="content">
    <br />
    <form method="POST" action="">
      {% csrf_token %} 
      {% include 'partials/_alerts.html' %}
      <button type="submit" name="btnsave" class="btn btn-save">حفظ التعديل</button>
      <a href="{% url 'qayds' %}" class="btn btn-close">إلغاء</a>
      <div class="form-row">
        <div class="col-md-6 col-sm-12 col-xs-12 mb-10">
          <div class="form-row">
            <h6 style="font-weight: bold" class="col-md-3">المستخدم</h6>
            <div class="form-group col-md-6">{{qayd_form.userID}}</div>
          </div>
            <div class="form-row">
            <h6 style="font-weight: bold" class="col-md-3">التاريخ</h6>
            <div class="form-group col-md-6">{{qayd_form.date}}</div>
          </div>
          <div class="form-row">
            <h6 style="font-weight: bold" class="col-md-3">العملة</h6>
            <div class="form-group col-md-6">{{qayd_form.currencyID}}</div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 mb-10">
          <div class="form-row">
            <h6 style="font-weight: bold" class="col-md-3">العملية</h6>
            <div class="form-group col-md-6">{{qayd_form.typeTransactionID}}</div>
          </div>
          <div class="form-row">
            <h6 style="font-weight: bold" class="col-md-3">الوصف</h6>
            <div class="form-group col-md-6">{{qayd_form.description}}</div>
          </div>
          <div class="form-row">
            <h6 style="font-weight: bold" class="col-md-3">المرفقات</h6>
            <div class="form-group col-md-6">{{qayd_form.attachments}}</div>
          </div>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <!-- <th scope="col">رقم القيد</th> -->
            <th scope="col">الحساب</th>
            <th scope="col">مدين</th>
            <th scope="col">دائن</th>
            <th scope="col">الوصف</th>
            <th scope="col">المشروع</th>
            <th scope="col">الموظف</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <!-- لعمل ارقام تسلسلة -->
              <th scope="row">{{forloop.counter}}</th>
              <!-- تفاصيل الجدول -->
              <td>{{qayd_details_form.accountID }}</td>
              <td>{{qayd_details_form.debit }}</td>
              <td>{{qayd_details_form.credit }}</td>
              <td>{{qayd_details_form.description }}</td>
              <td>{{qayd_details_form.projectID }}</td>
              <td>{{qayd_details_form.empID }}</td>
            </tr>
        </tbody>
        <tbody>
          <tr>
            <td></td>
            <th>المجموع</th>
            <th>مجموع مدين : {{calc.total_d}}</th>
            <th>مجموع الدائن : {{calc.total_c}}</th>
            {% if calc.other == 0 %}
              <th>الفرق : {{calc.other}}</th>
            {% else %}
              <th>الفرق : <span style="color: red;">{{calc.other}}</span></th>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </form>
    <div class="form-row">
      <h6 class="form-group col-md-6">مُنشئ القيد : {{qayd_id.userID}} </h6>
    </div>
  </div>
</div>
{% endblock %}
