{% extends 'base.html' %} {% load static %} {% block title %} | Qayd Update ( {{qayd_update.id}} )
{% endblock %} {% block content %}
<div class="content-wrapper">
  <h4 class="main-title">تعديل القيد رقم : ( {{qayd_update.id}} )</h4>
  <div class="content">
    <br />
    <form method="POST" action="">
      {% csrf_token %} 
      {% include 'partials/_alerts.html' %}
      <button type="submit" name="btnsave" class="btn btn-save">حفظ التعديل</button>
      <a href="{% url 'qayds' %}" class="btn btn-close">إلغاء</a>
      <br>
      <br>

      <div class="form-row">
        <div class="col-md-6 col-sm-12 col-xs-12 mb-10">
          <div class="form-row">
            <h6 style="font-weight: bold" class="col-md-3">المستخدم</h6>
            <div class="form-group col-md-6">{{qayd_update_form.created_py}}</div>
            <h6 style="font-weight: bold" class="col-md-3">التاريخ</h6>
            <div class="form-group col-md-6">{{qayd_update_form.date}}</div>
          </div>
          <div class="form-row">
            <h6 style="font-weight: bold" class="col-md-3">مصدر القيد</h6>
            <div class="form-group col-md-6">{{qayd_update_form.typeTransactionID}}</div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 mb-10">
          <div class="form-row">
            <h6 style="font-weight: bold" class="col-md-3">الوصف</h6>
            <div class="form-group col-md-6">{{qayd_update_form.description}}</div>
          </div>
          <div class="form-row">
            <h6 style="font-weight: bold" class="col-md-3">المرفقات</h6>
            <div class="form-group col-md-6">{{qayd_update_form.attachments}}</div>
          </div>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <!-- <th scope="col">رقم القيد</th> -->
            <th scope="col">رأس القيد</th>
            <th scope="col">التاريخ</th>
            <th scope="col">الحساب</th>
            <th scope="col">العملة</th>
            <th scope="col">سعر الصرف</th>
            <th scope="col">مدين</th>
            <th scope="col">دائن</th>
            <th scope="col">الوصف</th>
            <th scope="col">المشروع</th>
            <th scope="col">الموظف</th>
          </tr>
        </thead>
        <tbody>
          {{ qayd_update_details_formset.management_form }} 
          <div id="formset-container">
            {% for qayd_details_form in qayd_update_details_formset %}
            <div class="form-container">
              <tr>
                <td><a class="btn btn-danger" style="background-color: rgb(192, 0, 0);" id="delete-qayd1">-{{forloop.counter}}</a></td>
                <td>{{ qayd_details_form.id }}</td>
                <td>{{ qayd_details_form.qaydID }}</td>
                <td>{{ qayd_details_form.date_details }}</td>
                <td>{{ qayd_details_form.accountID }}</td>
                <td>{{ qayd_details_form.currencyID }}</td>
                <td>{{ qayd_details_form.rate }}</td>
                <td>{{ qayd_details_form.debit }}</td>
                <td>{{ qayd_details_form.credit }}</td>
                <td>{{ qayd_details_form.description_details }}</td>
                <td>{{ qayd_details_form.projectID }}</td>
                <td>{{ qayd_details_form.empID }}</td>
              </tr>
            </div>
            {% endfor %}
          </div>
        </tbody>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th>المجموع</th>
            <th id="total-d">مجموع مدين : {{total_d}}</th>
            <th id="total-c">مجموع الدائن : {{total_c}}</th>
            {% if difference == 0 %}
            <th id="result">الفرق : <span style="color: green;">{{difference}}</span></th>
            {% else %}
            <th id="result">الفرق : <span style="color: red;">{{difference}}</span></th>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </form>
    <div class="form-col">
      <h6 class="form-group col-md-6">مُنشئ القيد : {{qayd_update.created_py}} </h6>
      <h6 class="form-group col-md-6">تاريخ الإنشاء : {{qayd_update.created_dt}} </h6>
    </div>
  </div>
</div>
<script src="{% static 'dist/js/total.js' %}"></script>
{% endblock %}
