{% extends 'base.html' %}
{% load static %} 
{% block title %} | New Qayd {% endblock %}
{% block content %}
<style>
  .btn-qayd{
    width: 30px;
    /* display: block; */
    color: white !important;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    display: flex;
    cursor: pointer !important;
  }
</style>
<div class="content-wrapper">
  <div class="main-title">
    <h4 class="form-group col-md-9">قيد يومية جديد</h4>
  </div>
  <div class="content">
    {% include 'partials/_alerts.html' %}
    <form method="POST">
      {% csrf_token %}
      <br>
      <button type="submit" name="btnsave" class="btn btn-save">إضافة</button>
      <a href="{% url 'qayds' %}" class="btn btn-close" data-dismiss="modal" aria-label="Close">إلغاء</a>
      <br>
      <br>
      <br>
      <div class="form-row">
        <div class="col-md-6 col-sm-12 col-xs-12 mb-10">
          <div class="form-row">
            <h6 style="font-weight: bold" class="col-md-3">التاريخ</h6>
            <div class="form-group col-md-6">{{head_form.date}}</div>
          </div>
          <div class="form-row">
            <h6 style="font-weight: bold" class="col-md-3">مصدر القيد</h6>
            <div class="form-group col-md-6">{{head_form.typeTransactionID}}</div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 mb-10">
          <div class="form-row">
            <h6 style="font-weight: bold" class="col-md-3">الوصف</h6>
            <div class="form-group col-md-6">{{head_form.description}}</div>
          </div>
          <div class="form-row">
            <h6 style="font-weight: bold" class="col-md-3">المرفقات</h6>
            <div class="form-group col-md-6">{{head_form.attachments}}</div>
          </div>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">{{ formset.total_form_count }}</th>
            <th scope="col">الحساب</th>
            <th scope="col">العملة</th>
            <th scope="col">سعر الصرف</th>
            <th scope="col">مدين</th>
            <th scope="col">دائن</th>
            <th scope="col">الوصف</th>
            <th scope="col">المشروع</th>
            <th scope="col">الموظف</th>
          </tr>
        </thead>
        {{ formset.management_form }} 
        <tbody id="formset-container">
            {% for form in formset %}
            <tr class="form-container">
                <td><button class="btn btn-danger">-</button></td>
                <td>{{ form.accountID }}</td>
                <td>{{ form.currencyID }}</td>
                <td>{{ form.rate }}</td>
                <td>{{ form.debit }}</td>
                <td>{{ form.credit }}</td>
                <td>{{ form.description_details }}</td>
                <td>{{ form.projectID }}</td>
                <td>{{ form.empID }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tbody>
          <tr>
            <td><a class="btn" style="background-color: green;" id="add-form">+</a></td>
            <td></td>
            <td></td>
            <td></td>
            <th>المجموع</th>
            <th id="total-d">مجموع مدين : {{total_d}}</th>
            <th id="total-c">مجموع الدائن : {{total_c}}</th>
            {% if difference == 0 %}
            <th id="result">الفرق : <span style="color: green;">{{difference}}</span></th>
            {% else %}
            <th id="result">الفرق : <span style="color: red;">{{difference}}</span></th>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </form>
    <!-- End Modal -->
    <div class="form-row">
    <h6 class="form-group col-md-6"> المستخدم : {{request.user}} </h6>
    </div>
  </div>
</div>
<script src="{% static 'dist/js/add-remove-form.js' %}"></script>
<script src="{% static 'dist/js/total.js' %}"></script>

{% endblock %}
