{% extends 'base.html' %} {% load static %} 
{% block title %} | Qayds 
{% endblock %} 
{% block content %}

<style>
  @media (max-width: 768px) {
    .table-responsive thead {
      display: none;
    }

    .table-responsive tbody, 
    .table-responsive th, 
    .table-responsive td {
      display: block;
    }

    .table-responsive tr {
      margin-bottom: 15px;
    }


    .table-responsive td, 
    .table-responsive th {
      direction: rtl; /* لضبط الاتجاه من اليمين إلى اليسار */
      text-align: right;
      padding-right: 25%;
      position: relative;
      width: 100vw;
    }

    .table-responsive td::before, 
    .table-responsive th::before {
      content: attr(data-label);
      position: absolute;
      right: 0;
      width: 20%;
      padding-right: 10px;
      margin: -12px 1px 2px 2px;
      padding: 12px 8px 12px 0px;
      font-weight: bold;
      background-color: rgb(219, 219, 219);
    }
  }


</style>


<div class="content-wrapper">
  <div class="main-title">
    <h4 class="form-group col-md-9">قيود اليومية</h4>
  </div>
  <form method="GET" class="form-inline my-2 my-lg-0">
    <a href="{% url 'qayd_create' %}" class="btn btn-main">إضافة قيد جديد</a>
    <button class="btn btn-main" type="submit">
      بحث
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <a href="{% url 'accounts' %}" class="btn btn-main" type="submit">
      إعادة تعيين
      <i class="fa-solid fa-rotate-right"></i>
    </a>
    <input
      class="form-control mr-sm-2 remove-outline"
      name="search_emp"
      placeholder="بحث برقم القيد"
    />
    <input
      class="form-control mr-sm-2 remove-outline"
      name="search_iqama"
      placeholder="بحث بالوصف"
    />
    <input
      class="form-control mr-sm-2 remove-outline"
      name="search_border"
      placeholder="بحث بالمبلغ مدين"
    />
    <input
      class="form-control mr-sm-2 remove-outline"
      name="search_company"
      placeholder="بحث بالمبلغ الدائن"
    />
    <!-- <div class="form-control mr-sm-2 remove-outline"name="search_company">{{emp_form.companyID}}</div> -->
  </form>
  <div class="content">
    {% include 'partials/_alerts.html' %}
    <form method="POST">
      {% csrf_token %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">تاريخ القيد</th>
              <th scope="col">رقم القيد</th>
              <th scope="col">الوصف</th>
              <th scope="col">عدد الأسطر</th>
              <th scope="col">المستخدم</th>
              <th scope="col">العملية</th>
              <th scope="col">إجراءات</th>
            </tr>
          </thead>
          <tbody>
            {% for qayd in qayds %}
            <tr>
              <th data-label="#"scope="row">{{ forloop.counter }}</th>
              <td data-label="تاريخ القيد">{{ qayd.date|date:"Y-m-d" }}</td>
              <td data-label="رقم القيد">{{ qayd.sequence }}</td>
              <td data-label="الوصف">{{ qayd.description }}</td>
              <td data-label="الأسطر">{{ qayd.details.count }}</td>
              <td data-label="المستخدم">{{ qayd.created_by }}</td>
              <td data-label="نوع العملية">{{ qayd.typeTransactionID }}</td>
              <td data-label="إجراءات">
                <a href="{% url 'qayd_update' qayd.id %}" class="btn-link">
                  <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'qayd_reade' qayd.id %}" class="btn-link">
                  <i class="fa fa-print" aria-hidden="true"></i>
                </a>
                <a href="{% url 'qayd_delete' qayd.id %}" class="btn-link">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      
    </form>
    <!-- End Modal -->
  </div>
</div>

{% endblock %}
