{% extends 'base.html' %} {% load static %} {% block title %} | تقرير | الأصناف
{% endblock %} {% block content %} {% load humanize %}

<style>
  table {
    width: 100%;
    table-layout: auto;
  }
  th {
    text-align: center;
  }
  td {
    padding: 5px !important;
    text-align: center;
    vertical-align: middle !important;
    width: auto !important;
    white-space: nowrap;
    width: fit-content !important;
  }
  td input {
    padding: 5px;
    text-align: center;
  }
</style>

<div class="content-wrapper">
  <div class="main-title sub-navbar">
    <h4 class="form-group col-md-9" style="color: black">جميع الأصناف</h4>
  </div>
  <form method="GET" class="form-inline my-2 my-lg-0" action="{% url 'items_search' %}">
    <a href="{% url 'item_create' %}" class="btn btn-main-aktboh">إضافة صنف جديد</a>
    <button class="btn btn-main-aktboh" type="submit">
      بحث<i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <a href="{% url 'items' %}" class="btn btn-main-aktboh" type="submit"
      >إعادة تعيين<i class="fa-solid fa-rotate-right"></i></a>

    {{SetComboBox.itemID}} 
    {{SetComboBox.itemGropID}}
    <input class="form-control mr-sm-2 remove-outline" name="search_name" placeholder="بحث بإسم الصنف"/>
  </form>
  <div class="content">
    {% include 'partials/_alerts.html' %}
    <form method="POST">
      {% csrf_token %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">رقم الصنف</th>
              <th scope="col">إسم الصنف</th>
              <th scope="col">المجموعة</th>
              <th scope="col">سعر الشراء</th>
              <th scope="col">سعر البيع</th>
              <th scope="col">الوصف</th>
              <th scope="col">إجراءات</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
            <tr>
              <th data-label="#" scope="row">{{ forloop.counter }}</th>
              <td data-label="رقم الصنف">{{ item.sequence }}</td>
              <td data-label="إسم الصنف">{{ item.name_ar }}</td>
              <td data-label="إسم الصنف">{{ item.itemGropID }}</td>
              <td data-label="سعر الشراء">{{ item.purchasingPrice }}</td>
              <td data-label="سعر البيع">{{ item.sellingPrice }}</td>
              {% if item.photo %}
              <td data-label="صورة الصنف">{{ item.photo }}</td>
              {% else %}
              <td data-label="وصف الصنف">{{ item.description }}</td>
              {% endif %}
              <!-- <td data-label="إعتماد">{{ item.approve }}</td> -->
              <td data-label="الإجرات">
                <a href="{% url 'item_update' item.id %}" class="btn-link">
                  <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'item_reade' item.id %}" class="btn-link">
                  <i class="fa fa-print" aria-hidden="true"></i>
                </a>
                <a href="{% url 'item_delete' item.id %}" class="btn-link">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </form>
    <!-- End Modal -->
  </div>
</div>

{% endblock %}
