{% load static %}

<style>
  .share-and-review{

    top: 30px !important; 
    left: 21px !important;

  }
</style>
{% for company in companys %}
<div class="card item">
  <div class="card-header-dalil">
    <a href="{% url 'dalil_single' company.id %}">
      {% if company.legalPersonID.basicInfoID.photo %}
      <img
        src="{{ company.legalPersonID.basicInfoID.photo.url }}"
        alt="card Avatar"
        class="card-logo"
      />
      {% else %}
      <img
        src="{% static 'dist/img/dalilalaemal_logo_sudan.jpg' %}?=0.1"
        alt="card Avatar"
        class="card-logo"
      />
      {% endif %}
    </a>
    <div class="card-info">
      <a class="card-name" href="{% url 'dalil_single' company.id %}">
        <h3>{{ company.legalPersonID.name_ar }}</h3>
      </a>
      <a
        class="card-businessScope"
        href="{% url 'dalil_search' %}?businessScopeID={{ company.legalPersonID.businessScopeID.id }}"
      >
        <p>{{ company.legalPersonID.businessScopeID }}</p>
      </a>
    </div>
  </div>

  <div class="card-body">
    <p class="card-address">
      {% if company.legalPersonID.basicInfoID.address %}
      <a
        href="{% url 'dalil_search' %}?cityID={{ company.legalPersonID.basicInfoID.cityID.id }}"
        >{{ company.legalPersonID.basicInfoID.cityID }}</a
      >
      - {{ company.legalPersonID.basicInfoID.address }}
      {% endif %}
      {% if request.user.is_authenticated %}
      <a class="card-sub-title btn-link" href="{% url 'update' company.id %}"
        ><i class="fas fa-edit"></i
      ></a>
      {% endif %}
    </p>
    <div class="container-img">
      {% include 'dalilalaemal/dalil_share_bisnes_card.html' %}
      <a href="{% url 'dalil_single' company.id %}">
        {% if company.legalPersonID.basicInfoID.attachments %}
        <img
          src="{{ company.legalPersonID.basicInfoID.attachments.url }}"
          alt="card Image"
          class="card-attachments"
        />
        {% else %}
        <img
          src="{% static 'dist/img/dalilalaemal_logo_sudan.jpg' %}?=0.1"
          alt="card Image"
          class="card-attachments"
        />
        {% endif %}
      </a>
    </div>
  </div>

  <div class="card-actions">
    <button class="like-btn">
      {% if company.legalPersonID.basicInfoID.phone %}
      <a
        href="tel:{{ company.legalPersonID.basicInfoID.phone }}"
        class="btn-link icon-style"
      >
        <span>إتصال</span>
        <i class="fa fa-phone"></i>
      </a>
      {% endif %}
    </button>

    <button class="comment-btn">
      {% if company.legalPersonID.basicInfoID.phoneOther %}
      <a
        href="https://wa.me/{{ company.legalPersonID.basicInfoID.phoneOther }}"
        class="btn-link icon-style"
      >
        <span>واتساب</span>
        <i class="fa-brands fa-whatsapp"></i>
      </a>
      {% endif %}
    </button>

    <button class="share-btn">
      {% if company.isDelivery %}
      <a
        href="tel:{{company.legalPersonID.basicInfoID.phone}}"
        class="btn-link icon-style"
      >
        <span>توصيل</span>
        <i class="fa fa-shipping-fast"></i>
      </a>
      {% endif %}
    </button>

    <button class="share-btn">
      {% if company.legalPersonID.basicInfoID.google_maps_location %}
      <a
        href="{{ company.legalPersonID.basicInfoID.google_maps_location }}"
        class="btn-link icon-style"
      >
        <span>الخريطة</span>
        <i class="fa-solid fa-location-dot"></i
      ></a>
      {% endif %}
    </button>
  </div>
</div>
{% endfor %}
