{% load static %} 
<link rel="stylesheet" href="{% static 'dist/css/dalils_elements.css' %}?v=0.2" />
<style>
    #load-more {
      background-color: #3498db;  /* اللون الأساسي للزر */
      color: white;               /* لون النص */
      padding: 10px 20px;         /* حجم الزر */
      border: none;               /* إزالة الحدود */
      border-radius: 5px;         /* زوايا مستديرة */
      cursor: pointer;            /* تغيير المؤشر عند التمرير */
      font-size: 16px;            /* حجم الخط */
      transition: all 0.3s ease;  /* تأثير الانتقال عند التفاعل */
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* تأثير الظل */
  }

  #load-more:hover {
      background-color: #2980b9;  /* لون جديد عند التحويم */
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* زيادة الظل */
      transform: scale(1.05);     /* تكبير طفيف عند التحويم */
  }

  #load-more:active {
      background-color: #1c6f9f;  /* لون جديد عند الضغط */
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* تقليل الظل عند الضغط */
      transform: scale(0.98);     /* تصغير طفيف عند الضغط */
  }

</style>

<div id="content-area" >
  {% for company in companys %}
    <div class="d-flex justify-content-center align-items-center w-100 item">
      <!-- Company Card -->
      <div class="card">
        <div class="card-head">
          <div class="card-logo">
            <a href="{% url 'dalil_single' company.id %}">
              {% if company.legalPersonID.basicInfoID.attachments %}
              <img src="{{ company.legalPersonID.basicInfoID.attachments.url }}" class="rounded me-2" alt="...">
              {% else %}
              <img src="{% static 'dist/img/dalilalaemal_logo_sudan.jpg' %}?=0.1" class="rounded me-2" alt="...">
              {% endif %}
            </a>
            <div>  
              <a class="card-main-title" href="{% url 'dalil_single' company.id %}"><strong class="me-auto">{{ company.legalPersonID.name_ar }}</strong></a>
              <a class="card-sub-title" href="{% url 'dalil_search' %}?businessScopeID={{ company.legalPersonID.businessScopeID.id }}">{{ company.legalPersonID.businessScopeID }}</a>
              {% if request.user.is_authenticated %}
              <a class="card-sub-title btn-link" href="{% url 'update' company.id %}"
              ><i class="fas fa-edit"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <h6>
              {% if company.legalPersonID.basicInfoID.address %}
              <a href="{% url 'dalil_search' %}?cityID={{ company.legalPersonID.basicInfoID.cityID.id }}">{{ company.legalPersonID.basicInfoID.cityID }}</a> - 
              {{ company.legalPersonID.basicInfoID.address }}
              {% endif %}
            </h6>
            <li class="list-group-item">
              {% if company.legalPersonID.basicInfoID.phone %}
              <a href="tel:{{ company.legalPersonID.basicInfoID.phone }}" class="btn-link icon-style">
                <span>إتصال</span>
                <i class="fa fa-phone " ></i>
              </a>
    
              {% endif %}
              {% if company.legalPersonID.basicInfoID.phoneOther %}
              <a href="https://wa.me/{{ company.legalPersonID.basicInfoID.phoneOther }}" class="btn-link icon-style">
                <span>واتساب</span>
                <i class="fa-brands fa-whatsapp " ></i>
              </a>
              {% endif %}
              {% if company.isDelivery %}
              <a href="tel:{{company.legalPersonID.basicInfoID.phone}}"class="btn-link icon-style">
                <span>توصيل</span>
                <i class="fa fa-shipping-fast " ></i>
              </a>
              {% endif %}
              {% if company.legalPersonID.basicInfoID.google_maps_location %}
              <a href="{{ company.legalPersonID.basicInfoID.google_maps_location }}" class="btn-link icon-style">
                <span>الخريطة</span>
                <i class="fa-solid fa-location-dot"></i></a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
  

<script>
  // كود أجاكس للمجالات
  document.addEventListener('DOMContentLoaded', function () {
    // احصل على جميع عناصر القائمة
    const menuItems = document.querySelectorAll('.menu-item');

    // أضف حدث النقر إلى كل عنصر
    menuItems.forEach(item => {
        item.addEventListener('click', function (e) {
            e.preventDefault(); // منع إعادة تحميل الصفحة

            const businessScopeID = this.getAttribute('data-business-scope-id');
            const cityID = this.getAttribute('data-city-id');

             // احصل على رابط URL عبر Django template tag
             const ajaxUrl = "{% url 'dalil_search' %}";

            // إعداد طلب AJAX
            fetch(`${ajaxUrl}?businessScopeID=${businessScopeID}&cityID=${cityID}`, {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'  // توضيح أن هذا طلب AJAX
                    }
                })
                .then(response => response.text())  // توقع نص (HTML)
                .then(data => {
                    // تحديث منطقة المحتوى
                    document.getElementById('content-area').innerHTML = data;
                })
                .catch(error => console.error('Error:', error));
        });
    });
});
</script>


