{% extends 'base_dalilalaemal.html' %} {% load static %} {% block title %} | Companys 
{% endblock %} {% block content %}

<!-- <div class="content-wrapper"> -->

  {% include 'partials/_alerts.html' %}
  <form method="GET" action="{% url 'dalilalaemal_search' %}">
    <!-- <div style="width: 100%; display: flex; align-items: center; gap: 10px;">
    <button class="btn btn-main" type="submit" style="width: 30%;">بحث بالمدينة<i class="fa-solid fa-magnifying-glass"></i></button>
    {{search_form.businessScopeID}}
    </div> -->
    <br>
    <div style="display: flex; align-items: center; margin-top: 40px;">
      <!-- <label style="width: 150px; text-align: center;" for="city-select">اختر المدينة:</label> -->
      <select name="city" id="city-select" class="form-control" onchange="goToCityPage()">
        <!-- الخيار الافتراضي -->
        <option value="">اختر المدينة</option>
        
        <!-- حلقة للمدن -->
        {% for city in cities %}
        <option value="{{ city.id }}"{% if city.id == search_cityID %} selected {% endif %}>
          {{ city.name_ar }}
        </option>
        {% endfor %}
      </select>
      <a style="width: 150px;" href="{% url 'dalilalaemal_search' %}?businessScopeID=&cityID=" class="btn btn-main" type="submit">جميع المدن</a>
    </div>
    <br>  

    <div class="horizontal-menu-container">
      <div class="horizontal-menu">
        {% for bs in businessScope %}
        <a style="height: 40px;" href="{% url 'dalilalaemal_search' %}?businessScopeID={{bs.id}}&cityID={{search_cityID}}" class="menu-item"> {{bs.name_ar}}</a>
        {% endfor %}
          <!-- Add more items as needed -->
      </div>
    </div>
   
    <div style="width: 100%; display: flex; align-items: center; gap: 10px;">
  </div>
  </form>
  <div class="content form-row justify-content-around" >
    {% for company in companys %}
  
    <!-- Flexbox container for aligning the cards -->
    <div class="d-flex justify-content-center align-items-center w-100">
      <!-- Company Card -->
      <div class="card" style="width: 500px; ">
        <div style="display: flex; justify-content: space-between; align-items: center; padding-top: 20px;">
          <div style="padding-right: 20px; padding-left: 10px; display: flex;">
            <a href="{% url 'dalilalaemal_single' company.id %}">
              {% if company.legalPersonID.basicInfoID.attachments %}
              <img style="width: 50px; height: 50px;" src="{{ company.legalPersonID.basicInfoID.attachments.url }}" class="rounded me-2" alt="...">
              {% else %}
              <img style="width: 50px; height: 50px;" src="{% static 'dist/img/dalilalaemal_logo_sudan.jpg' %}?=0.1" class="rounded me-2" alt="...">
              {% endif %}
            </a>
            <div style="display: flex; flex-direction: column; padding-right: 10px;">  
              <a style="color: black;" href="{% url 'dalilalaemal_single' company.id %}"><strong class="me-auto">{{ company.legalPersonID.name_ar }}</strong></a>
              <a style="font-size: 12px;" href="{% url 'dalilalaemal_search' %}?businessScopeID={{ company.legalPersonID.businessScopeID.id }}">{{ company.legalPersonID.businessScopeID }}</a>
              <a style="font-size: 12px;" class="btn-link" href="{% url 'update' company.id %}"
              ><i class="fas fa-edit"></i>
            </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <h6 style="font-size: 12px;">
              {% if company.legalPersonID.basicInfoID.address %}
              <a style="font-size: 12px;" href="{% url 'dalilalaemal_search' %}?cityID={{ company.legalPersonID.basicInfoID.cityID.id }}">{{ company.legalPersonID.basicInfoID.cityID }}</a> - 
              {{ company.legalPersonID.basicInfoID.address }}
              {% endif %}
              {% if company.legalPersonID.basicInfoID.google_maps_location %}
              <a href="{{ company.legalPersonID.basicInfoID.google_maps_location }}" class="card-link">
                <i class="fa-solid fa-location-dot"></i></a>
              <!-- <a href="https://www.google.com/maps/?q={{ company.legalPersonID.basicInfoID.latitude }},{{ company.legalPersonID.basicInfoID.longitude }}" class="card-link"> -->
                <!-- <i class="fa-solid fa-location-dot"></i></a> -->
              {% endif %}
            </h6>
            <li class="list-group-item" style="display: flex; justify-content: space-evenly; padding-bottom: 0;">
              {% if company.legalPersonID.basicInfoID.phone %}
              <a href="tel:{{ company.legalPersonID.basicInfoID.phone }}" class="btn-link">
                <span style="color: black; font-weight: 500;">إتصال</span>
                <i class="fa fa-phone" style="color: green"></i>
              </a>
              {% endif %}
              {% if company.legalPersonID.basicInfoID.phoneOther %}
              <a href="https://wa.me/{{ company.legalPersonID.basicInfoID.phoneOther }}" class="btn-link">
                <span style="color: black; font-weight: 500;">واتساب</span>
                <i class="fa-brands fa-whatsapp" style="color: green"></i>
              </a>
              {% endif %}
              {% if company.isDelivery %}
              <a href="tel:{{company.legalPersonID.basicInfoID.phone}}"class="btn-link">
                <span style="color: black; font-weight: 500;">توصيل</span>
                <!-- <i class="fa-brands fa-delivery" style="color: green"></i> -->
                <i class="fa fa-shipping-fast" style="color: green"></i>
              </a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <script>

document.addEventListener('DOMContentLoaded', function() {
    var citySelect = document.getElementById('city-select');
    
    // تحقق مما إذا كانت المدينة محددة بالفعل (من search_cityID)
    if (citySelect.value) {
        citySelect.options[0].text = citySelect.options[citySelect.selectedIndex].text;
    }
});
function goToCityPage() {
    var citySelect = document.getElementById('city-select');
    var selectedCityID = citySelect.value;

    // إنشاء رابط جديد بدون معايير استعلام سابقة
    var newURL = new URL(window.location.origin + window.location.pathname);

    // إضافة المدينة المختارة كمعيار استعلام
    newURL.searchParams.set('cityID', selectedCityID);

    // التوجيه إلى الرابط الجديد
    window.location.href = newURL.toString();
}

</script>
{% endblock %}
