{% extends 'base_dalilalaemal.html' %} {% load static %} {% block title %} | Companys 
{% endblock %} {% block content %}

<div class="content">
    <form method="GET" action="{% url 'dalilalaemal_search' %}">
      <a href="{% url 'company_create' %}" class="btn btn-main" type="submit">عمل جديد<i class="fa-solid fa-rotate-right"></i></a>
    </form>
  <br />
  {% include 'partials/_alerts.html' %}

  <div class="content form-row justify-content-around" >
    {% for company in companys %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <a style="font-size: 12px;" href="{% url 'dalilalaemal_search' %}?businessScopeID={{ company.legalPersonID.businessScopeID.id }}">{{ company.legalPersonID.businessScopeID }}</a>

        <a class="btn-link" href="{% url 'company_update' company.id %}"
        ><i class="fas fa-edit"></i>
      </a>
        <h5>{{company.legalPersonID.name_ar}}</h5>
        <h6 style="font-size: 12px;">
        {% if company.legalPersonID.basicInfoID.address %}
        <a style="font-size: 12px;" href="{% url 'dalilalaemal_search' %}?cityID={{ company.legalPersonID.basicInfoID.cityID.id }}">{{ company.legalPersonID.basicInfoID.cityID }}</a> - 

          {{company.legalPersonID.basicInfoID.address}}
          {% endif %}
          {% if company.legalPersonID.basicInfoID.google_maps_location %}
          <a href="{{company.legalPersonID.basicInfoID.google_maps_location}}" class="card-link">
            <i class="fa-solid fa-location-dot"></i>
          </a>
        </h6>
      {% endif %}
  
      </div>

        {% if company.legalPersonID.basicInfoID.attachments %}
        <img
          class="card-img-top"
          src="{{ company.legalPersonID.basicInfoID.attachments.url }}"
          alt="Card image cap"
        />
        {% else %}
        <img class="card-img-top" src="{% static 'dist/img/dalilalaemal.jpg' %}" alt="Card image cap"/>
        {% endif %}
 
     
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="display: flex; justify-content: space-evenly;"> 
          {% if company.legalPersonID.basicInfoID.phone %}
            إتصال
            <a href="tel:{{company.legalPersonID.basicInfoID.phone}}"class="btn-link">
                <i class="fa fa-phone" style="color: green"></i>
            </a>
          {% endif %}
          
          {% if company.legalPersonID.basicInfoID.phoneOther %}
          واتساب
          <a href="https://wa.me/{{company.legalPersonID.basicInfoID.phoneOther}}"class="btn-link">
            <i class="fa-brands fa-whatsapp" style="color: green"></i>
          </a>
          {% endif %}
          {% if company.isDelivery %}
          توصيل
          <a href="tel:{{company.legalPersonID.basicInfoID.phone}}"class="btn-link">
            <!-- <i class="fa-brands fa-delivery" style="color: green"></i> -->
            <i class="fa fa-shipping-fast" style="color: green"></i>
          </a>
          {% endif %}
        </li>
    
    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}
