{% extends 'base_dalilalaemal.html' %} 
{% load static %} 
{% block title %} | بحث {% endblock %} 
{% block content %}
{% include 'partials/_alerts.html' %}
<link rel="stylesheet" href="{% static 'dist/css/dalil_search.css' %}?v=0.9" />
<div class="content-main">
  <form method="GET" action="{% url 'dalil_search' %}">
    <br>
    <div class="select-main">
      <select name="city" id="city-select" class="form-control" onchange="goToCityPage()">
        <!-- الخيار الافتراضي -->
        <option value="">اختر المدينة</option>
        <!-- حلقة للمدن -->
        {% for city in cities %}
        <option value="{{ city.id }}"{% if city.id == search_cityID %} selected {% endif %}>
          {{ city.name_ar }}
        </option>
        {% endfor %}
      </select>
      <form method="GET"class="form-inline my-2 my-lg-0 form-main" action="{% url 'dalil_search' %}">
        <input class="form-control mr-sm-2 remove-outline" value="{{search_name}}" style="width: 40%;" name="search_name"placeholder="أو ابحث بإسم العمل"/>
        <button class="btn btn-main btn-color" type="submit">
          بحث<i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
    <br>  
    <div class="horizontal-menu-container">
      <div class="horizontal-menu">
        {% for id, logo, label, count in businessScope %}
            <a class="menu-item" href="#" data-business-scope-id="{{ id }}" data-city-id="{{ search_cityID }}">
                {{ label }} ({{ count }})
            </a>
        {% endfor %}
    </div>
    </div>
  </form>
  <div class="content form-row justify-content-around" >
    {% include 'dalilalaemal/dalil_search_ajax.html' %}
  </div>
</div>
{% endblock %}

