{% extends 'base.html' %} {% load static %} {% block title %} | Qayd Delete (
{{qayd_id.id}} ) {% endblock %} {% block content %}
<div class="content-wrapper">
  <h4 class="main-title">حذف فاتورة مبيعات رقم : ( {{invoice_head_form.sequence}} )</h4>
  <div class="content">
    <br />
    <form method="POST">
      {% csrf_token %} {% include 'partials/_alerts.html' %} 
      
      {% include 'sales/invoice_forml.html' %}

      <button type="submit" name="btndelete" class="btn btn-danger">
        تأكيد الحذف
      </button>
      <a href="{% url 'invoices_sales' %}" class="btn btn-close">إلغاء</a>
    </form>
    <br />
    <div class="form-row">
      <h6 class="form-group col-md-6" name="user">
        مُنشئ القيد : {{invoice_head_form.created_by}}
      </h6>
    </div>
  </div>
</div>
<script
  type="module"
  src="{% static 'dist/js/calculate-totals-invoice.js' %}"
></script>
{% endblock %}
