
<div class="form-row">
  <div class="col-md-6 col-sm-12 col-xs-12 mb-10">
    <div class="form-row">
      <h6 style="font-weight: bold" class="col-md-2"></h6>
      <div class="form-group col-md-4">{{invoice_head_form.typeTransactionID}}</div>
      <h6 style="font-weight: bold" class="col-md-1">التاريخ</h6>
      <div class="form-group col-md-3">{{invoice_head_form.date}}</div>
      <div class="form-group col-md-6" style="display: none;">{{invoice_head_form.created_by}}</div>
    </div>
    <div class="form-row">
      <h6 style="font-weight: bold" class="col-md-2">العميل</h6>
      <div class="form-group col-md-8">{{invoice_head_form.customerID}}</div>
    </div>
    <div class="form-row">
      <h6 style="font-weight: bold" class="col-md-2">الوصف</h6>
      <div class="form-group col-md-8">{{invoice_head_form.description}}</div>
    </div>
      <div class="form-row">
        <h6 style="font-weight: bold" class="col-md-2">طريقة الدفع</h6>
        <div class="form-group col-md-3">{{invoice_head_form.typePaymentID}}</div>
        <h6 style="font-weight: bold" class="col-md-2">طريقة التسليم</h6>
        <div class="form-group col-md-3">{{invoice_head_form.typeDeliveryID}}</div>
    </div>
    <div class="form-row">
      <h6 style="font-weight: bold" class="col-md-2">المخزن</h6>
      <div class="form-group col-md-3">{{invoice_head_form.inventoryID}}</div>
      <h6 style="font-weight: bold" class="col-md-2">المرفقات</h6>
      <div class="form-group col-md-3">{{invoice_head_form.attachments}}</div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12 mb-10">
    <div class="card text-bg-light mb-10" >
      <div class="card-header">تفاصيل بيانات العميل</div>
      <div class="card-body">
       <div class="form-row">
          <h6 style="font-weight: bold" class="col-md-3">رقم الهاتف</h6>
          <div class="form-group col-md-6"></div>
        </div>
        <div class="form-row">
          <h6 style="font-weight: bold" class="col-md-3">البريد الإلكتروني</h6>
          <div class="form-group col-md-6"></div>
        </div>
      </div>
    </div>
    <div class="form-row">
    </div>
  
  </div>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">{{ formset.total_form_count }}</th>
        <th scope="col">المنتج</th>
        <th scope="col">الكمية</th>
        <th scope="col">سعر الوحدة</th>
        <!-- <th scope="col">الخصم</th> -->
        <th scope="col">الإجمالي</th>
        <!-- <th scope="col">نسبة الضريبة</th>
        <th scope="col">قيمة الضريبة</th> -->
        <!-- <th scope="col">الإجمالي بعد الضريبة</th> -->
      </tr>
    </thead>
    {{ invoice_body_form.management_form }} 
    <tbody id="formset-container">
        {% for form in invoice_body_form %}
        <tr class="form-container">
          <td data-label="حذف"><button class="btn btn-danger">-</button></td>
          <td style="display: none;">{{ form.DELETE }}</td>
          <td style="display: none;">{{ form.id }}</td>
          <td data-label="المنتج">{{form.itemID}}</td>
          <td data-label="الكمية">{{form.quantity}}</td>
          <td data-label="سعر الوحدة">{{form.unit_price}}</td>
          <!-- <td data-label="الخصم">{{form.discount}}</td> -->
          <td data-label="الإجمالي">{{form.total_price_before_tax}}</td>
          <!-- <td data-label="نسبة الضريبة">{{form.tax_rate}}</td>
          <td data-label="قيمة الضريبة">{{form.tax_value}}</td>
          <td data-label="الإجمالي بعد الضريبة">{{form.total_price_after_tax}}</td> -->
        </tr>
    {% endfor %}
    </tbody>
    <tbody>
      <tr>
        <td><a class="btn" style="background-color: green;" id="add-form">+</a></td>
        <!-- <td></td>
        <td></td>
        <td></td> -->
        <th>الإجمالي</th>
        <th id="quantity">الكمية : </th>
        <td></td>
        <th id="total_price_before_tax">المبلغ: </th>
      </tr>
    </tbody>
  </table>
</div>
     
