{% extends 'base.html' %} {% load static %} 
{% block title %} | Qayds 
{% endblock %} 
{% block content %}
<style>
  /* تحسين عرض الجدول على الأجهزة الصغيرة */
  @media (max-width: 767.98px) {
      th, td {
          white-space: nowrap;
      }
  }
</style>
<div class="content-wrapper">
  <div class="main-title"><h4 class="form-group col-md-9">فواتير المبيعات</h4></div>
  <form method="GET" class="form-inline my-2 my-lg-0">
    <a href="{% url 'invoice_sales_create' %}" class="btn btn-main">إضافة فاتورة جديدة</a>
    <button class="btn btn-main" type="submit">بحث<i class="fa-solid fa-magnifying-glass"></i></button>
    <a href="{% url 'invoices' %}" class="btn btn-main" type="submit">إعادة تعيين<i class="fa-solid fa-rotate-right"></i></a>
    <input class="form-control mr-sm-2 remove-outline" name="search_emp" placeholder="بحث برقم الفاتورة"/>
    <input class="form-control mr-sm-2 remove-outline" name="search_iqama" placeholder="بحث بالمورد"/>
    <input class="form-control mr-sm-2 remove-outline" name="search_border" placeholder="بحث بإجمالي المبلغ"/>
  </form>
  <div class="content">
    {% include 'partials/_alerts.html' %}
    <form method="POST">
      {% csrf_token %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">رقم الفاتورة</th>
              <th scope="col">تاريخ الفاتورة</th>
              <th scope="col">العميل</th>
              <th scope="col">الإجمالي</th>
              <th scope="col">المستخدم</th>
              <th scope="col">معتمد</th>
              <th scope="col">إجراءات</th>
            </tr>
          </thead>
          <tbody>
            {% for invoice in invoices %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ invoice.sequence }}</td>
              <td>{{ invoice.date|date:"Y-m-d" }}</td>
              <td>{{ invoice.supplierID }}</td>
              <td>{{ invoice.created_by }}</td>
              <td>{{ invoice.approve }}</td>
              <td>
                <a href="{% url 'invoice_update' invoice.id %}" class="btn-link">
                  <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'invoice_reade'  invoice.id %}" class="btn-link">
                  <i class="fa fa-print" aria-hidden="true"></i>
                </a>
                <a href="{% url 'invoice_delete' invoice.id %}" class="btn-link">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </form>
    <!-- End Modal -->
  </div>
</div>
{% endblock %}
