{% extends 'base.html' %}
{% load static %}
{% block title %} | Forex | Contract ( {{contract.id}} ){% endblock %}
{% block content %}
{% load humanize %}
<style>
  .head-contract {
    margin-left: 234.5px !important; 
  }
  .sub-title-head {
    background: #a5d6a7;
    color: #000168;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    width: fit-content;
    margin: auto;
  }
  .contract_details {
    font-weight: bold;
  }
</style>

<div class="content-wrapper">
  <h4 class="main-title">بيانات العقد رقم : {{contract.id}}</h4>
  <a href="{% url 'forex_pdf' contract.id %}" class="nv-link" target="blank">Download PDF Report</a>

  <div class="content">
    <br />
    <a href="{% url 'forex_contracts' %}" class="btn btn-main">جميع العقود</a>
    <a href="{% url 'forex_update' contract.id %}" class="btn btn-main">تعديل</a>
    {% include 'partials/_alerts.html' %}
    <br />
    <div class="row no-gutters">
      <div class="card-body">
          <div class="row" style="margin: auto; max-width: 80%;">
            <div class="col-md-3">
              <img src="{% static 'dist/img/Forex.jpeg' %}" class="card-img" alt="" />
            </div>
            <div class="col">
              <h3 class="text-center" style="font-size: 14px;">بسم الله الرحمن الرحيم</h3>
              <br>
              <h3 class="text-center">فوركس للإستثمار -  Forex Investment</h3>
              <br>
              <h4 class="text-center sub-title-head">مضاربة إستثمارية في تداول العملات الأجنبية</h4>
              <br>
              <h5 class="text-center">عقد شراكة</h5>
            </div>
          </div>
          <div class="col-md-8" style="margin: auto; max-width: 80%;">
            <div>
              <p>
                التاريخ : <span class="contract_details">{{contract.dateOfContract}}</span> 
              </p>
              <P>
                1- أبرم هذا العقد بين كل من السيد / <span class="contract_details">همام محمد علي عبد الله</span> حامل جواز رقم <span class="contract_details">P06464541</span>
              </P>
              <P>
                2- و السيد / <span class="contract_details">{{contract.shareholdersID.f_Name_ar}} {{contract.shareholdersID.s_Name_ar}} {{contract.shareholdersID.t_Name_ar}} {{contract.shareholdersID.fo_Name_ar}}</span> حامل هوية : <span class="contract_details">{{contract.shareholdersID.typeID}}</span> رقمها : <span class="contract_details">{{contract.shareholdersID.id_number}}</span> عنوانه : <span class="contract_details">{{contract.shareholdersID.detailsAddress}}</span> رقم هاتفه : <span class="contract_details">{{contract.shareholdersID.mobileNumber}}</span> ويعرف لأغراض هذا العقد بالطرف الثاني.
              </P>
              <p>
                3- يطرح الطرف الأول اسهما للشراكة معه على سبيل المضاربة في تداول العملات الأجنبية.
              </p>
              <p>
                4- يرغب الطرف الثاني في الشراكة مع الطرف الأول  بشراء عدد <span class="contract_details">{{contract.numberOfShares}}</span> سهم بمبلغ وقدره <span class="contract_details">{{contract.amountOfShare|intcomma}} دولار أمريكي </span> بإجمالي قيمة <span class="contract_details">{{totalamountOfShare|intcomma}}</span> بعد إطلاعه على جميع تفاصيل العقد والتزامه بها.
              </p>
              <p>
                5- قام الطرف الثاني بسداد المبلغ المذكور أعلاه  إضافة إلى 10% رسوم اشتراك واستلم الايصال المالي رقم <span class="contract_details">{{contract.numberReceipt}}</span>  من الطرف الأول بإجمالي مبلغ مممممم.
              </p>
              <p>
                6- تقسم الأرباح بين الطرف الأول و الطرف الثاني على النحو التالي <span class="contract_details"> 80% </span> من صافي الأرباح للطرف الثاني على حسب نسب مشاركتهم و <span class="contract_details"> 40% </span> من صافي الأرباح للطرف الأول إبتداءً من تاريخ مممممممم التكاليف التشغيلية.
              </p>
              <p>
                7- يتم صرف نصيب الطرف الثاني من صافي الأرباح بالدولار أو ما يعادلها من عملة أخرى بالسعر الجاري.
              </p>
              
              <p class="contract_details">أحكام عامة :</p>
              <p>  </p>
              <p>
                8- تعتبر النقاط المذكورة أعلاه جزءا لا يتجزأ من هذا العقد.

              </p>
              <p>
                9- للطرف الثاني الحق في إسترداد أمواله المستثمرة خلال شهرين من إخطار الطرف الأول.
              </p>           
              <p>
                10- هذه الشراكة تقوم على اسس شرعية لتحقيق الكسب الحلال وتخضع لقانون الربح والخسارة والعرض والطلب وليست مراباة بأموال المساهمين فهي مضاربة مطلقة في سوق العملات الأجنبية.
              </p>
              <p>
                11- هذه الشراكة تقوم على قاعدة الثقة والشفافية وإدارة الطرف الأول تقبل من الشركاء من تأسست عنده الثقة بقدرتنا المالية والفنية والاخلاقية.
              </p>
              <p>
                12- تتولى إدارة الطرف الأول تقسيم صافي الدخل الشهري على جميع المشتركين وايداع أنصبتهم  في أرقام الحسابات التي تم ذكرها في عقد الشراكة.
              </p>
              <p>
                13- في حالة نشوء نزاع بين الطرفين يحل بالطرق الودية أو اللجوء إلى لجنة تحكيم يمثل فيها الطرفين بعضو و يختاران بالتوافق العضو الثالث ولها الحق في الفصل بما تراه مناسباً ومراعياً لمصلحة جميع الأطراف بما في ذلك بقية المشتركين.
              </p>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <p class="contract_details"> الطرف الأول :</p>  
                <p class="contract_details">همام محمد علي عبد الله</p>  
                <p class="contract_details">التوقيع: </p>  
              </div>
              <div class="col-md-6">
                <p class="contract_details"> الطرف الثاني :</p>
                <p class="contract_details"> {{contract.shareholdersID.f_Name_ar}} {{contract.shareholdersID.s_Name_ar}} {{contract.shareholdersID.t_Name_ar}} {{contract.shareholdersID.fo_Name_ar}}</p>
                <p class="contract_details"> التوقيع :</p>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-md-6">
                <p class="contract_details"> الشاهد الأول :</p>
                <p class="contract_details">{{contract.witnes1ID.f_Name_ar}} {{contract.witnes1ID.s_Name_ar}} {{contract.witnes1ID.t_Name_ar}} {{contract.witnes1ID.fo_Name_ar}}</p>
                <p class="contract_details">نوع إثبات الشخصية : {{contract.witnes1ID.typeID}}</p>
                <p class="contract_details">رقم الإثبات : {{contract.witnes1ID.id_number}}</p>
                <p class="contract_details"> التوقيع :</p>
              </div>
              <div class="col-md-6">
                <p class="contract_details"> الشاهد الثاني :</p>
                <p class="contract_details">{{contract.witnes1ID.f_Name_ar}} {{contract.witnes1ID.s_Name_ar}} {{contract.witnes1ID.t_Name_ar}} {{contract.witnes1ID.fo_Name_ar}}</p>
                <p class="contract_details">نوع إثبات الشخصية : {{contract.witnes1ID.typeID}}</p>
                <p class="contract_details">رقم الإثبات : {{contract.witnes1ID.id_number}}</p>
                <p class="contract_details"> التوقيع :</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
