{% extends 'base.html' %} 
{% load static %}
{% block title %} 
 | Reade Invoice
Sales ( {{Invoice_reade.id}} ) 
{% endblock %} 

{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invoice PDF</title>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
  <style>
      body {
          font-family: 'Cairo', sans-serif;
          direction: rtl;
          text-align: right;
      }
  </style>
</head>



<div class="content-wrapper">
  <h4 class="main-title">
    طباعة {{invoice_head_form.typeTransactionID}} رقم : ( {{invoice_head_form.sequence}} )
  </h4>
  <div class="content">

    <form method="GET">
      {% csrf_token %} {% include 'partials/_alerts.html' %}

      {% include 'sales/invoice_forml.html' %}
    </form>
  </div>
</div>
{% endblock %}
