{% extends 'base.html' %} {% load static %} {% block title %} | Invoice purchases
New {% endblock %} {% block content %}

<div class="content-wrapper">
  <div class="main-title sub-navbar">
    <h4 class="form-group col-md-9">فاتورة مشتريات جديدة</h4>
  </div>
  <div class="content">
    {% include 'partials/_alerts.html' %}
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <br />
      <button type="submit" name="btnsave" class="btn btn-save btn-main-aktboh">إضافة</button>
      <a
        href="{% url 'invoices_purchases' %}"
        class="btn btn-close btn-sub-aktboh"
        data-dismiss="modal"
        aria-label="Close"
        >إلغاء</a
      >
      <br />
      {% include 'purchases/invoice_forml.html' %}
    </form>
    <!-- End Modal -->
    <div class="form-row">
      <h6 class="form-group col-md-6">المستخدم : {{request.user}}</h6>
    </div>
  </div>
</div>
{% endblock %}
