{% extends 'base.html' %} {% load static %} {% block title %} | فواتير المشتريات 
{% endblock %} {% block content %} {% load humanize %}

<style>
  table {
    width: 100%;
    table-layout: auto;
  }

  th {
    text-align: center;
  }
  td {
    padding: 5px !important;
    text-align: center;
    vertical-align: middle !important;
    width: auto !important;
    white-space: nowrap;
    width: fit-content !important;
  }
  td input {
    padding: 5px;
    text-align: center;
  }
</style>

<div class="content-wrapper">
  <div class="main-title"><h4 class="form-group col-md-9">فواتير المشتريات</h4></div>
  <form method="GET"class="form-inline my-2 my-lg-0"action="{% url 'invoices_purchases_search' %}">
    <a href="{% url 'invoice_purchases_create' %}" class="btn btn-main">إضافة فاتورة جديدة</a>
    <button class="btn btn-main" type="submit">بحث<i class="fa-solid fa-magnifying-glass"></i></button>
    <a href="{% url 'invoices_purchases' %}" class="btn btn-main" type="submit">إعادة تعيين<i class="fa-solid fa-rotate-right"></i></a>
    <div style="width: 100%; display: flex; align-items: center; gap: 10px;">
      <!-- حقل التاريخ "من" -->
      <div style="position: relative; width: 48%;">
          <input
              style="width: 100%; background: white; color: black; padding-right: 30px; border-radius: 5px;"
              class="btn btn-main" type="date" name="start_date" placeholder="بحث بالتاريخ"/>
          <span style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">
            من  
            <i class="fa fa-calendar"></i>
          </span>
      </div>
      <!-- حقل التاريخ "إلى" -->
      <div style="position: relative; width: 48%;">
          <input
              style="width: 100%; background: white; color: black;; padding-right: 30px; border-radius: 5px;"
              class="btn btn-main" type="date" name="end_date" placeholder="بحث بالتاريخ"/>
          <span style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">
            إلى  
            <i class="fa fa-calendar"></i>
          </span>
      </div>
    </div>
    {{invoice_search_form.suppliersID}} 
    {{invoice_search_form.currencyID}}
    {{invoice_search_form.inventoryID}}
    <input class="form-control mr-sm-2 remove-outline"name="search_invoice_number"placeholder="بحث برقم الفاتورة"/>
  </form>
  <div class="content">
    {% include 'partials/_alerts.html' %}
    <form method="POST">
      {% csrf_token %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">رقم الفاتورة</th>
              <th scope="col">تاريخ الفاتورة</th>
              <th scope="col">المورد</th>
              <th scope="col">إجمالي الفاتورة</th>
              <th scope="col">العملة</th>
              <!-- <th scope="col">معتمد</th> -->
              <th scope="col">إجراءات</th>
            </tr>
          </thead>
          <tbody>
            {% for invoice in invoices %}
            <tr>
              <th data-label="#" scope="row">{{ forloop.counter }}</th>
              <td data-label="رقم الفاتورة">{{ invoice.sequence }}</td>
              <td data-label="التاريخ">{{ invoice.date|date:"Y-m-d" }}</td>
              {% if invoice.attachments %}
              <td data-label="المورد" style="color: #28b78d; font-weight: bold">
                {{ invoice.supplierID.legalPersonID.acronym_ar }}
              </td>
              {% else %}
              <td data-label="المورد">
                {{ invoice.supplierID.legalPersonID.acronym_ar }}
              </td>
              {% endif %}
              <td data-label="إجمالي الفاتورة">
                {{ invoice.total_local_sum|floatformat:2|intcomma }}
              </td>
              <td data-label="العملة">{{ invoice.currencyID}}</td>
              <!-- <td data-label="إعتماد">{{ invoice.approve }}</td> -->
              <td data-label="الإجرات">
                <a
                  href="{% url 'invoice_purchases_update' invoice.id %}"
                  class="btn-link"
                >
                  <i class="fas fa-edit"></i>
                </a>
                <a
                  href="{% url 'invoice_purchases_reade' invoice.id %}"
                  class="btn-link"
                >
                  <i class="fa fa-print" aria-hidden="true"></i>
                </a>
                <a
                  href="{% url 'invoice_purchases_delete' invoice.id %}"
                  class="btn-link"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          <tr>
            <td></td>
            <th>الإجمالي</th>
            <td></td>
            <td></td>
            <th>{{total_sum|floatformat:2|intcomma}}</th>
          </tr>
        </table>
      </div>
    </form>
    <!-- End Modal -->
  </div>
</div>

{% endblock %}
