{% extends 'base.html' %} {% load static %} {% block title %} | Delete Coustomer
{% endblock %} {% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="content-wrapper">
  <div class="content">
    <div class="modal-content">
      <div class="modal-body">
        {% include 'partials/_alerts.html' %}
        <!-- Start Modal Countries -->
        <form method="POST">
          <div class="form-row main-title">
            <h5 class="form-group" id="staticBackdropLabel">حذف المورد : {{supplier_form.legalPersonID.name_ar}}</h5>
          </div>
          <br>
          <button type="submit" class="btn btn-delete" name="btnempsave">تأكيد الحذف</button>
          <a href="{% url 'suppliers' %}" class="btn btn-close">إلغاء</a>

          <a class="btn-link" href="{% url 'supplier_update' supplier_form.id %}">
            <i class="fas fa-edit"></i>
          </a>
          <a href="{% url 'supplier_reade' supplier_form.id %}" class="btn-link">
            <i class="fa fa-print" aria-hidden="true"></i>
          <br>
          <br>

          {% csrf_token %}
          {% include 'purchases/supplier_form.html' %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
