{% extends 'base.html' %} {% load static %} {% block title %} | تقرير | إجمالي أرباح المبيعات
{% endblock %} {% block content %} {% load humanize %}
{% load tz %}  <!-- تحميل مكتبة الوقت في Django Templates -->

<style>
  table {
    width: 100%;
    table-layout: auto;
  }
  th {
    text-align: center;
  }
  td {
    padding: 5px !important;
    text-align: center;
    vertical-align: middle !important;
    width: auto !important;
    white-space: nowrap;
    width: fit-content !important;
  }
  td input {
    padding: 5px;
    text-align: center;
  }
</style>

<div class="content-wrapper">
  <a href="https://wa.me/+966595924802" target="blank" style="color: #0b0f8f; font-weight: bold; text-decoration: none; font-size: 20px;" >
    <img style="width: 50px;" src="{% static 'dist/img/ais.png' %}?v=0.2" alt="">
    الإبداع لنظم المعلومات
  </a>
  <div class="main-title">

    <h4 class="form-group col-md-9" style="color: black;">تقرير | إجمالي أرباح المبيعات</h4>
  </div>
  <form
    method="GET"
    class="form-inline my-2 my-lg-0"
    action="{% url 'net_sales' %}"
  >
    <button class="btn btn-main" type="submit">
      بحث<i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <a href="{% url 'net_sales_search' %}" class="btn btn-main" type="submit"
      >إعادة تعيين<i class="fa-solid fa-rotate-right"></i
    ></a>
    <div style="width: 100%; display: flex; align-items: center; gap: 10px">
      <!-- حقل التاريخ "من" -->
      <div style="position: relative; width: 48%">
        <input
          style="
            width: 100%;
            background: white;
            color: black;
            padding-right: 30px;
            border-radius: 5px;
          "
          class="btn btn-main"
          type="date"
          name="start_date"
          placeholder="بحث بالتاريخ"
          value="{% if start_date %}{{ start_date }}{% else %}2024-01-01{% endif %}"
        />
        <span
          style="
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
          "
        >
          من
          <i class="fa fa-calendar"></i>
        </span>
      </div>
      <!-- حقل التاريخ "إلى" -->
      <div style="position: relative; width: 48%">
        <input
          style="
            width: 100%;
            background: white;
            color: black;
            padding-right: 30px;
            border-radius: 5px;
          "
          class="btn btn-main"
          type="date"
          name="end_date"
          placeholder="بحث بالتاريخ"
          value="{% if end_date %}{{ end_date }}{% else %}{{ now|date:'Y-m-d' }}{% endif %}"
        />
        <span
          style="
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
          "
        >
          إلى
          <i class="fa fa-calendar"></i>
        </span>
      </div>
    </div>
    {{search_form.itemGropID}}
    {{search_form.itemID}}
    {{search_form.inventoryID}}
  </form>
  <div class="content">
    {% include 'partials/_alerts.html' %}
    <form method="POST">
      {% csrf_token %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"><a href="?ordering=item_name&direction={% if direction == 'asc' %}desc{% else %}asc{% endif %}{% for key, value in request.GET.items %}{% if key != 'ordering' and key != 'direction' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                المنتج
                {% if ordering == 'item_name' %}
                  {% if direction == 'asc' %}▲{% else %}▼{% endif %}
                {% endif %}
              </a></th>
              <th scope="col"><a href="?ordering=sold_quantity&direction={% if direction == 'asc' %}desc{% else %}asc{% endif %}{% for key, value in request.GET.items %}{% if key != 'ordering' and key != 'direction' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                الكمية المباعة
                {% if ordering == 'sold_quantity' %}
                  {% if direction == 'asc' %}▲{% else %}▼{% endif %}
                {% endif %}
              </a></th>
              <th scope="col"><a href="?ordering=sales_price&direction={% if direction == 'asc' %}desc{% else %}asc{% endif %}{% for key, value in request.GET.items %}{% if key != 'ordering' and key != 'direction' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                إجمالي المبيعات
                {% if ordering == 'sales_price' %}
                  {% if direction == 'asc' %}▲{% else %}▼{% endif %}
                {% endif %}
              </a></th>
              <th scope="col"><a href="?ordering=cost_price&direction={% if direction == 'asc' %}desc{% else %}asc{% endif %}{% for key, value in request.GET.items %}{% if key != 'ordering' and key != 'direction' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                تكلفة المبيعات
                {% if ordering == 'cost_price' %}
                  {% if direction == 'asc' %}▲{% else %}▼{% endif %}
                {% endif %}
              </a></th>
              <th scope="col"><a href="?ordering=net_sales&direction={% if direction == 'asc' %}desc{% else %}asc{% endif %}{% for key, value in request.GET.items %}{% if key != 'ordering' and key != 'direction' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                إجمالي الربح
                {% if ordering == 'net_sales' %}
                  {% if direction == 'asc' %}▲{% else %}▼{% endif %}
                {% endif %}
              </a></th>
              <th scope="col"><a href="?ordering=Profit_rate&direction={% if direction == 'asc' %}desc{% else %}asc{% endif %}{% for key, value in request.GET.items %}{% if key != 'ordering' and key != 'direction' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                معدل الربح
                {% if ordering == 'Profit_rate' %}
                  {% if direction == 'asc' %}▲{% else %}▼{% endif %}
                {% endif %}
              </a></th>
            </tr>
          </thead>
          <tbody>
            {% for invoice in items_comparison %}
            <tr>
              <th data-label="#" scope="row">{{ forloop.counter }}</th>
           
              <td data-label="المنتج">{{ invoice.item_name }}</td>
              <td data-label="الكميات المباعة"><a href="{% url 'product_quantity_summary' %}?itemID={{ invoice.item_id }}">
                {{ invoice.sold_quantity }}
              </a></td>
              <td data-label="إجمالي المبيعات"><a href="{% url 'sold_products_search' %}?itemID={{ invoice.item_id }}&inventoryID={{ search_inventoryID }}&start_date={{ start_date }}&end_date={{ end_date }}">
                {{ invoice.sales_price|floatformat:2|intcomma }}
              </a></td>
              <td data-label="تكلفة المبيعات"><a href="{% url 'purchased_products_search' %}?itemID={{ invoice.item_id }}&inventoryID={{ search_inventoryID }}">
                {{ invoice.cost_price|floatformat:2|intcomma }}
              </a></td>
              <td data-label="صافي الأرباح">{{ invoice.net_sales|floatformat:0|intcomma }}</td>
              <td data-label="معدل الأرباح">{{ invoice.Profit_rate|floatformat:0|intcomma }} %</td>
            </tr>
            {% endfor %}
          </tbody>
          <tr>
            <td></td>
            <th>الإجمالي</th>
            <th></th>
            <th>{{total_sales_sum|floatformat:1|intcomma}}</th>
            <th>{{total_purchase_sum|floatformat:1|intcomma}}</th>
            <th>{{total_net_sales_sum|floatformat:1|intcomma}}</th>
            <th>{{total_Profit_rate_sum|floatformat:0|intcomma}} %</th>
          </tr>
        </table>
      </div>
    </form>
    <!-- End Modal -->
  </div>
</div>

{% endblock %}
