{% extends 'base.html' %} {% load static %} {% block title %} | Sold Products 
{% endblock %} {% block content %} {% load humanize %}

<style>
  table {
    width: 100%;
    table-layout: auto;
  }
  th {
    text-align: center;
  }
  td {
    padding: 5px !important;
    text-align: center;
    vertical-align: middle !important;
    width: auto !important;
    white-space: nowrap;
    width: fit-content !important;
  }
  td input {
    padding: 5px;
    text-align: center;
  }
</style>

<div class="content-wrapper">
  <div class="main-title">
    <h4 class="form-group col-md-9">المخزون</h4>
  </div>
  <form
    method="GET"
    class="form-inline my-2 my-lg-0"
    action="{% url 'product_quantity_summary' %}"
  >
    <a href="{% url 'invoice_sales_create' %}" class="btn btn-main"
      >إضافة فاتورة جديدة</a
    >
    <button class="btn btn-main" type="submit">
      بحث<i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <a href="{% url 'product_quantity_summary' %}" class="btn btn-main" type="submit"
      >إعادة تعيين<i class="fa-solid fa-rotate-right"></i
    ></a>
    <div style="width: 100%; display: flex; align-items: center; gap: 10px">
      <!-- حقل التاريخ "من" -->
      <div style="position: relative; width: 48%">
        <input
          style="
            width: 100%;
            background: white;
            color: black;
            padding-right: 30px;
            border-radius: 5px;
          "
          class="btn btn-main"
          type="date"
          name="start_date"
          placeholder="بحث بالتاريخ"
        />
        <span
          style="
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
          "
        >
          من
          <i class="fa fa-calendar"></i>
        </span>
      </div>
      <!-- حقل التاريخ "إلى" -->
      <div style="position: relative; width: 48%">
        <input
          style="
            width: 100%;
            background: white;
            color: black;
            padding-right: 30px;
            border-radius: 5px;
          "
          class="btn btn-main"
          type="date"
          name="end_date"
          placeholder="بحث بالتاريخ"
        />
        <span
          style="
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
          "
        >
          إلى
          <i class="fa fa-calendar"></i>
        </span>
      </div>
    </div>
    {{search_form.ItemGrop}}
    {{search_form.itemID}}
    {{search_form.customerID}}
    {{search_form.currencyID}}
    {{search_form.inventoryID}}
    <input class="form-control mr-sm-2 remove-outline"name="search_invoice_number"placeholder="بحث برقم الفاتورة"/>
  </form>
  <div class="content">
    {% include 'partials/_alerts.html' %}
    <form method="POST">
      {% csrf_token %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">المنتج</th>
              <th scope="col">المشتريات</th>
              <th scope="col">المبيعات</th>
              <th scope="col">الكمية المتبقية</th>
            </tr>
          </thead>
          <tbody>
            {% for invoice in items_comparison %}
            <tr>
              <th data-label="#" scope="row">{{ forloop.counter }}</th>
           
              <td data-label="المنتج">{{ invoice.item_name }}</td>
              <td data-label="المشتريات">{{ invoice.purchased_quantity }}</td>
              <td data-label="المبيعات">{{ invoice.sold_quantity }}</td>
              <td data-label="الرصيد">{{ invoice.difference }}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tr>
            <td></td>
            <th>الإجمالي</th>
            <th>{{total_purchased_sum|floatformat:0|intcomma}}</th>
            <th>{{total_sold_sum|floatformat:0|intcomma}}</th>
            <th>{{total_difference_sum|intcomma}}</th>
          </tr>
        </table>
      </div>
    </form>
    <!-- End Modal -->
  </div>
</div>

{% endblock %}
