{% extends 'base.html' %} {% load static %} {% block title %} | Update Company
{% endblock %} {% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="content-wrapper">
  <div class="content">
    <div class="modal-content">
      <div class="modal-body">
        {% include 'partials/_alerts.html' %}
        <!-- Start Modal Countries -->
        <form method="POST" enctype="multipart/form-data">
          <div class="form-row main-title">
            <h5 class="form-group" id="staticBackdropLabel">
              تعديل بيانات {{company_id.name_ar}}
            </h5>
          </div>
          {% csrf_token %}
          <br />
          <button type="submit" class="btn btn-save" name="btnempsave">
            تعديل
          </button>
          <a href="{% url 'companys' %}" class="btn btn-close">إلغاء</a>
          <br />
          <br />
          {% include 'companys/company_form.html' %}

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
