{% extends 'base.html' %} {% load static %} {% block title %} | Companys {%
endblock %} {% block content %}
<div class="content-wrapper">
  <div class="main-title">
    <h4 class="form-group col-md-9">جميع الشركات</h4>
  </div>
  <a href="{% url 'company_create' %}" class="btn btn-main" target="blank"
    >إنشاء شركة جديدة</a
  >
  <br />
  {% include 'partials/_alerts.html' %}

  <div class="content form-row justify-content-around">
    <div class="form-inline my-2 my-lg-0"></div>
    {% for company in companys %}
    <div class="card" style="width: 18rem">
      <div class="image" style="height: 254px">
        {% if company.logo %}
        <img
          class="card-img-top"
          src="{{ company.logo.url }}"
          alt="Card image cap"
        />
        {% else %}
        <img
          class="card-img-top"
          src="{% static 'dist/img/AIS.png' %}"
          alt="Card image cap"
        />
        {% endif %}
      </div>
      <div class="card-body">
        <div class="card-header" style="font-weight: bold">
          {{company.name_ar}}
        </div>
        <a href="{% url 'switch_company' company.id %}" class="btn btn-primary"
          >تسجيل دخول إلى الشركة</a
        >
        <a class="btn-link" href="{% url 'company_update' company.id %}">
          <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'company_reade' company.id %}" class="btn-link">
          <i class="fa fa-print" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
