{% extends 'base.html' %}
{% load static %} 
{% block title %} | Hadina | New Contract {% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="content">
    <div class="modal-content">
      <div class="modal-body">
        {% include 'partials/_alerts.html' %}
        <!-- Start Modal Countries -->
        <form method="POST">
          <div class="form-row main-title">
            <h5 class="form-group" id="staticBackdropLabel">إضافة عقد جديد</h5>
            <button type="submit" class="btn btn-save" name="btnempsave">إضافة</button>
            <a href="{% url 'shareholders' %}" class="btn btn-close">إلغاء</a>
          </div>
          {% csrf_token %}
          <br/>
          <div class="form-row">
            <label class="form-group col-md-1 title-label">رقم العقد</label>
            <div class="form-group col-md-3">{{contract_form.contractNumber}}</div>
            <label class="form-group col-md-1 title-label">إسم المساهم</label>
            <div class="form-group col-md-3">{{contract_form.shareholdersID}}</div>
            <label class="form-group col-md-1 title-label">تاريخ العقد</label>
            <div class="form-group col-md-3">{{contract_form.dateOfContract}}</div>  
          </div>
          <!-- تاريخ الميلا - الجنس - الجنسية - الحالة الإجتماعية -->
          <div class="form-row">
            <label class="form-group col-md-1 title-label">الدورة</label>
            <div class="form-group col-md-3">{{contract_form.cycleID}}</div>
            <label class="form-group col-md-1 title-label">ربحية السهم %</label>
            <div class="form-group col-md-3">{{contract_form.profitRate}}</div>
            <label class="form-group col-md-1 title-label">تاريخ أول توزيع</label>
            <div class="form-group col-md-3">{{contract_form.dateOfDividend}}</div>
          </div>
          <!-- تاريخ الميلا - الجنس - الجنسية - الحالة الإجتماعية -->
          <div class="form-row">
            <label class="form-group col-md-1 title-label">عدد الأسهم</label>
            <div class="form-group col-md-3">{{contract_form.numberOfShares}}</div>
            <label class="form-group col-md-1 title-label">سعر السهم</label>
            <div class="form-group col-md-3">{{contract_form.amountOfShare}}</div>
            <label class="form-group col-md-1 title-label">رقم الإيصال</label>
            <div class="form-group col-md-3">{{contract_form.receiptID}}</div>
          </div>
          <!-- نوع الهوية - رقم الهوية - تاريخ إنتهاء الهوية - رقم الجوال - رقم جوال آخر  -->
          <div class="form-row">
            <label class="form-group col-md-1 title-label">الشاهد الأول</label>
            <div class="form-group col-md-3">{{contract_form.witnes1ID}}</div>
            <label class="form-group col-md-1 title-label">الشاهد الثاني</label>
            <div class="form-group col-md-3">{{contract_form.witnes2ID}}</div>
            <label class="form-group col-md-1 title-label">ملاحظات</label>
            <div class="form-group col-md-3">{{contract_form.notes}}</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


