{% extends 'base.html' %}
{% load static %}
{% block title %} | Contract Update{% endblock %}
{% block content %}
<div class="content-wrapper">
  <h4 class="main-title">تعديل بيانات العقد رقم : {{contract.id}} </h4>
 <div class="content">
  <br>
  <form method="POST">
    <button type="submit" class="btn btn-save">حفظ التعديل</button>
    <a href="{% url 'contracts' %}" class="btn btn-save">طباعة</a>
    <a href="{% url 'contracts' %}" class="btn btn-save">جميع العقود</a>
    <a href="{% url 'contracts' %}" class="btn btn-close">إلغاء</a>
    <br>
    <br>
    {% csrf_token %}
    {% include 'partials/_alerts.html' %}
    <div class="form-row">
      <h6 class="sub-title">إسم المساهم</h6>
      <div class="form-group col-md-3">{{contract_update_form.shareholdersID}}</div>
      <h6 class="sub-title"> تاريخ العقد </h6>
      <div class="form-group col-md-3">{{contract_update_form.dateOfContract}}</div>  
    </div>
    <!-- تاريخ الميلا - الجنس - الجنسية - الحالة الإجتماعية -->
    <div class="form-row">
     <h6 class="sub-title"> رقم العقد</h6>
      <div class="form-group col-md-3">{{contract_update_form.contractNumber}}</div>
      <h6 class="sub-title"> المحور </h6>
      <div class="form-group col-md-3">{{contract_update_form.axisID}}</div>
    </div>
    <!-- تاريخ الميلا - الجنس - الجنسية - الحالة الإجتماعية -->
    <div class="form-row">
      <h6 class="sub-title"> ربحية السهم </h6>
      <div class="form-group col-md-3">{{contract_update_form.profitOfShare}}</div>
      <h6 class="sub-title"> تاريخ توزيع الأرباح </h6>
      <div class="form-group col-md-3">{{contract_update_form.dateOfDividend}}</div>
    </div>
    <div class="form-row">
      <h6 class="sub-title"> عدد الأسهم </h6>
      <div class="form-group col-md-3">{{contract_update_form.numberOfShares}}</div>
      <h6 class="sub-title"> سعر السهم </h6>
      <div class="form-group col-md-3">{{contract_update_form.amountOfShare}}</div>
    </div>
    <!-- نوع الهوية - رقم الهوية - تاريخ إنتهاء الهوية - رقم الجوال - رقم جوال آخر  -->
    <div class="form-row">
      <h6 class="sub-title"> رقم الإيصال </h6>
      <div class="form-group col-md-3">{{contract_update_form.numberReceipt}}</div>
      <h6 class="sub-title"> الشاهد الأول </h6>
      <div class="form-group col-md-3">{{contract_update_form.witnes1ID}}</div>
    </div>
  </form>
 </div>
</div>
{% endblock %}