{% extends 'base.html' %}
{% load static %}
{% block title %} | Contract ( {{contract_view.id}} ){% endblock %}
{% block content %}
{% load humanize %}
<style>
  .head-contract {
    margin-left: 234.5px !important; 
  }
  .sub-title-head {
    background: #343432;
    color: #a2c734;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    width: fit-content;
    margin: auto;
  }
  .contract_details {
    font-weight: bold;
  }
</style>

<div class="content-wrapper">
  <h4 class="main-title">بيانات العقد رقم : {{contract_view.id}}</h4>
  <a href="" class="nv-link" target="blank">Download PDF Report</a>

  <div class="content">
    <br />
    <a href="{% url 'contracts' %}" class="btn btn-main">جميع العقود</a>
    <a href="{% url 'contract_update' contract_view.id %}" class="btn btn-main">تعديل</a>
    {% include 'partials/_alerts.html' %}
    <br />
    <div class="row no-gutters">
      <div class="card-body">
          <div class="row" style="margin: auto; max-width: 80%;">
            <div class="col-md-3">
              <img src="{% static 'dist/img/Hadena.jpg' %}" class="card-img" alt="" />
            </div>
            <div class="col">
              <h3 class="text-center" style="font-size: 14px;">بسم الله الرحمن الرحيم</h3>
              <br>
              <h3 class="text-center">حاضنة البركة للإنتاج الزراعي والحيواني</h3>
              <br>
              <h4 class="text-center sub-title-head">تذوق بركة الرزق الحلال</h4>
              <br>
              <h5 class="text-center">عقد شراكة</h5>
            </div>
          </div>
          <div class="col-md-8" style="margin: auto; max-width: 80%;">
            <div>
              <p>
                التاريخ : <span class="contract_details">{{contract_view.dateOfContract}}</span> 
              </p>
              <P>
                1- حاضنة البركة للإنتاج الزراعي والحيواني اسم عمل مملوك لشركة شباب بزنس للأنشطة المتكاملة المحدودة المسجلة بالرقم 49074 بموجب قانون الشركات لعام2015 والحاضنة متخصصة في مجال الإنتاج الزراعي والحيواني وتمتلك الخبرة الفنية والإدارية في انشاء وتأسيس وإدارة المشاريع الزراعية بشقيها النباتي والحيواني وتعرف لأغراض هذا العقد بالطرف الأول.
              </P>
              <P>
                2- السيد / <span class="contract_details">{{contract_view.shareholdersID.personID.f_Name_ar}} {{contract.shareholdersID.personID.s_Name_ar}} {{contract_view.shareholdersID.t_Name_ar}} {{contract_view.shareholdersID.personID.fo_Name_ar}}</span> حامل هوية : <span class="contract_details">{{contract_view.shareholdersID.personID.typeID}}</span> رقمها : <span class="contract_details">{{contract_view.shareholdersID.personID.id_number}}</span> عنوانه : <span class="contract_details">{{contract_view.shareholdersID.personID.detailsAddress}}</span> رقم هاتفه : <span class="contract_details">{{contract_view.shareholdersID.personID.mobileNumber}}</span> ويعرف لأغراض هذا العقد بالطرف الثاني.
              </P>
              <p>
                3- يطرح الطرف الاول اسهما للشراكة معه على سبيل المضاربة في الاستثمار الزراعي والحيواني بجميع مجالاته.
              </p>
              <p>
                4- يرغب الطرف الثاني في الشراكة مع الحاضنة  بشراء عدد <span class="contract_details">{{contract_view.numberOfShares}}</span> سهم بمبلغ وقدره <span class="contract_details">{{contract_view.amountOfShare|intcomma}} ج.س </span> بإجمالي قيمة <span class="contract_details">{{totalamountOfShare|intcomma}}</span> بعد إطلاعه على جميع تفاصيل العقد والتزامه بها.
              </p>
              <p>
                5- قام الطرف الثاني بسداد المبلغ المذكور أعلاه واستلم الايصال المالي رقم <span class="contract_details">{{contract_view.numberReceipt}}</span> من الحاضنة.
              </p>
              <p>
                6- تقسم الأرباح بين الحاضنة والمشتركين على النحو التالي <span class="contract_details"> 60% </span> من صافي الأرباح للمشتركين على حسب نسب مشاركتهم و <span class="contract_details"> 40% </span> من صافي الأرباح للحاضنة وذلك بعد خصم جميع التكاليف التشغيلية.
              </p>
              <p>
                7- يتم توريد نصيب الطرف الثاني من صافي الدخل في حساب <span class="contract_details">{{contract.shareholdersID.personID.typeAccBankID}}</span> رقم <span class="contract_details">{{contract_view.shareholdersID.personID.accountNumber}}</span> علي بنك <span class="contract_details">{{contract_view.shareholdersID.personID.bankID}}</span> فرع <span class="contract_details">{{contract_view.shareholdersID.personID.branchBankID}}</span> باسم : <span class="contract_details">{{contract_view.shareholdersID.personID.ownerAccount}}</span>
              </p>
              
              <p class="contract_details">أحكام عامة :</p>
              <p>  </p>
              <p>
                8- تعتبر النقاط المذكورة أعلاه جزءا لا يتجزأ من هذا العقد.

              </p>
              <p>
                9- للطرف الثاني الحق في بيع أسهمه وقت ما شاء بالسعر الذي يرتضيه على ان يتم البيع عن طريق الحاضنة ليكون المشتري مطلعا على طبيعة الشراكة اطلاعا نافيا للجهالة ويرتضي عقدها ويوقع عليه.
              </p>           
              <p>
                10- هذه الشراكة تقوم على اسس شرعية لتحقيق الكسب الحلال وتخضع لقانون الربح والخسارة والعرض والطلب وليست مراباة بأموال المساهمين فهي مضاربة مطلقة في الاستثمار الزراعي والحيواني وتتولى الحاضنة حصرا الادارة الفنية والمالية. 
              </p>
              <p>
                11- هذه الشراكة تقوم على قاعدة الثقة والشفافية وإدارة الحاضنة تقبل من الشركاء من تأسست عنده الثقة بقدرتها المالية والفنية والاخلاقية وهي تبذل قصارى جهدها في الوفاء بهذه الثقة وللحاضنة الحق في إلغاء شراكة من انشرم جدار الثقة بينها وبينه على ان ترد له قيمة اسهمه بعد بيعها بالسعر الجاري حينها.
              </p>
              <p>
                12- تتولى إدارة الحاضنة تقسيم صافي الدخل الشهري على جميع المشتركين وايداع أنصبتهم  في أرقام الحسابات التي تم ذكرها في عقد الشراكة.
              </p>
              <p>
                13- إذا كانت مساهمة المشترك عبارة عن قرض من مؤسسة مالية تقوم الحاضنة بتوريد القسط الشهري في حساب المؤسسة الدائنة من نصيب المشترك في صافي الدخل وتوريد المتبقي إن وجد في حساب المشترك.
              </p>
              <p>
                14- القروض التي يتلقاها المشتركون للاشتراك في الحاضنة متعلقة بذممهم ولا صلة للحاضنة بها.
              </p>
              <p>
                15- يبدأ توريد الأرباح المتحققة بعد بداية الانتاج.
              </p>
              <p>
                16- في حالة نشوء نزاع بين الطرفين يحل بالطرق الودية أو اللجوء إلى لجنة تحكيم يمثل فيها الطرفين بعضو و يختاران بالتوافق العضو الثالث ولها الحق في الفصل بما تراه مناسباً ومراعياً لمصلحة جميع الأطراف بما في ذلك بقية المشتركين.
              </p>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <p class="contract_details"> الطرف الأول :</p>  
                <p class="contract_details"> حاضنة البركة للإنتاج الزراعي والحيواني</p>  
                <p class="contract_details">ينوب عنها / المدير العام : همام محمد علي</p>  
                <p class="contract_details">التوقيع: </p>  
              </div>
              <div class="col-md-6">
                <p class="contract_details"> الطرف الثاني :</p>
                <p class="contract_details"> {{contract_view.shareholdersID.personID.f_Name_ar}} {{contract_view.shareholdersID.personID.s_Name_ar}} {{contract_view.shareholdersID.personID.t_Name_ar}} {{contract_view.shareholdersID.personID.fo_Name_ar}}</p>
                <p class="contract_details"> التوقيع :</p>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-md-6">
                <p class="contract_details"> الشاهد الأول :</p>
                <p class="contract_details">{{contract_view.witnes1ID.EmpInfo.personID.f_Name_ar}} {{contract_view.witnes1ID.personID.s_Name_ar}} {{contract_view.witnes1ID.shareholdersID.personID.t_Name_ar}} {{contract_view.witnes1ID.shareholdersID.personID.fo_Name_ar}}</p>
                <p class="contract_details">نوع إثبات الشخصية : {{contract_view.witnes1ID.shareholdersID.personID.typeID}}</p>
                <p class="contract_details">رقم الإثبات : {{contract_view.witnes1ID.shareholdersID.personID.id_number}}</p>
                <p class="contract_details"> التوقيع :</p>
              </div>
              <div class="col-md-6">
                <p class="contract_details"> الشاهد الثاني :</p>
                <p class="contract_details">{{contract_view.witnes1ID.personID.f_Name_ar}} {{contract_view.witnes1ID.personID.s_Name_ar}} {{contract_view.witnes1ID.t_Name_ar}} {{contract_view.witnes1ID.fo_Name_ar}}</p>
                <p class="contract_details">نوع إثبات الشخصية : {{contract_view.witnes1ID.personID.typeID}}</p>
                <p class="contract_details">رقم الإثبات : {{contract_view.witnes1ID.personID.id_number}}</p>
                <p class="contract_details"> التوقيع :</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
