{% extends 'base.html' %}
{% load static %} 
{% block title %} | Contracts {% endblock %}
{% block content %}
{% load humanize %}
<div class="content-wrapper">
  <div class="main-title">
    <h4 class="form-group col-md-9">جميع العقود</h4>
  </div>
  <form method="GET" class="form-inline my-2 my-lg-0">
    <a href="{% url 'contract_create' %}" class="btn btn-main" >إضافة عقد جديد</a>
    <button class="btn btn-main" type="submit">بحث
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <a href="{% url 'contracts' %}" class="btn btn-main" type="submit">
      إعادة تعيين
      <i class="fa-solid fa-rotate-right"></i>
    </a>
    <input class="form-control mr-sm-2 remove-outline" name="search_name" placeholder="بحث بالإسم"/>
    <input class="form-control mr-sm-2 remove-outline" name="search_id_number" placeholder="بحث برقم العقد"/>
    <input class="form-control mr-sm-2 remove-outline" name="search_mobileNumber" placeholder="بحث برقم الجوال"/>
    <!-- <div class="form-control mr-sm-2 remove-outline"name="search_company">{{contract_form.companyID}}</div> -->
  </form>
  <div class="content">
    <div class="form-inline my-2 my-lg-0"></div>
    <p class="sub-title">إجمالي عدد العقود : {{contract.count}}</p>
    <br /><br />
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">المساهم</th>
          <th scope="col">تاريخ العقد</th>
          <th scope="col">رقم العقد</th>
          <th scope="col">الدورة</th>
          <th scope="col">رقم الإيصال</th>
          <th scope="col">عدد الأسهم</th>
          <th scope="col">إجمالي الأسهم</th>
          <th scope="col">الإجراءات</th>
        </tr>
      </thead>
      <tbody>
        {% for contract in contracts %}
        <tr>
          <!-- لعمل ارقام تسلسلة -->
          <th scope="row">{{forloop.counter}}</th>
          <!-- تفاصيل الجدول -->
          <td>{{contract.shareholdersID}}</td>
          <td>{{contract.dateOfContract}}</td>
          <td>{{contract.contractNumber}}</td>
          <td>{{contract.cycleID}}</td>
          <td>{{contract.numberReceipt}}</td>
          <td>{{contract.numberOfShares}}</td>
          <td>{{contract.amountOfShare}}</td>
          <td>
            <a href="{% url 'contract_reade' contract.id %}" class="btn-link"><i class="fa fa-print"></i></a>
            <a href="{% url 'contract_print' contract.id %}" class="btn-link"><i class="fa fa-print"></i></a>
            <a href="{% url 'contract_update' contract.id %}" class="btn-link"><i class="fas fa-edit"></i></a>
            <a href="{% url 'contract_delete' contract.id %}" class="btn-link"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
