{% extends 'base.html' %}
{% load static %} 
{% block title %} | Hadena | Shareholders {% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="main-title">
    <h4 class="form-group col-md-9">جميع المساهمين</h4>
  </div>
  <form method="GET" class="form-inline my-2 my-lg-0">
    <a href="{% url 'shareholder_create' %}" class="btn btn-main" >إضافة مساهم جديد</a>
    <button class="btn btn-main" type="submit">بحث
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <a href="{% url 'shareholders' %}" class="btn btn-main" type="submit">
      إعادة تعيين
      <i class="fa-solid fa-rotate-right"></i>
    </a> 
    <input class="form-control mr-sm-2 remove-outline" name="search_name" placeholder="بحث بالإسم"/>
    <input class="form-control mr-sm-2 remove-outline" name="search_id_number" placeholder="بحث برقم الهوية"/>
    <input class="form-control mr-sm-2 remove-outline" name="search_mobileNumber" placeholder="بحث برقم الجوال"/>
    <h6 class="sub-title">فلتر نوع الهوية</h6>
    <div class="mr-sm-2">{{shar_form.typeID}}</div>
    <h6 class="sub-title">فلتر المهنة</h6>
    <div class="mr-sm-2">{{shar_form.workTradeID}}</div>
  </form>
  <div class="content">
    <div class="form-inline my-2 my-lg-0"></div>
    <p class="sub-title">إجمالي عدد المساهمين : {{shar_count.count}}</p>
    <br /><br />
    {% include 'partials/_alerts.html' %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">الإسم</th>
          <th scope="col">نوع الهوية</th>
          <th scope="col">رقم الهوية</th>
          <th scope="col">المشرف</th>
          <th scope="col">السكن</th>
          <th scope="col">رقم الجوال</th>
          <th scope="col">المهنة</th>
          <th scope="col">المستندات</th>
          <th scope="col">الإجراءات</th>
        </tr>
      </thead>
      <tbody>
        {% for shareholder in shareholders %}
        <tr>
          <!-- لعمل ارقام تسلسلة -->
          <th scope="row">{{forloop.counter}}</th>
          <!-- تفاصيل الجدول -->
          <td>{{shareholder.personID.f_Name_ar}}</td>
          <td>{{shareholder.personID.typeID}}</td>
          <td>{{shareholder.personID.id_number}}</td>
          <td>{{shareholder.marketerID}}</td>
          <td>{{shareholder.personID.desAddress}}</td>
          <td>{{shareholder.personID.mobileNumber}}</td>
          <td>{{shareholder.personID.workTradeID}}</td>
          <td>
            {% if shareholder.documentLink %}
            <a href="{{shareholder.documentLink}}" target="blank">رابط المستندات</a>
            {% else %}
            <a style="color: brown">لا يوجد مستندات</a>
            {% endif %}
          </td>
          <td>
            <a href="{% url 'shareholder_update' shareholder.id %}" class="btn-link"><i class="fas fa-edit"></i></a>
            <a href="{% url 'shareholder_reade' shareholder.id %}" class="btn-link"><i class="fa fa-print"></i></a>
            <a href="{% url 'shareholder_delete' shareholder.id %}" class="btn-link"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
