{% extends 'base.html' %}
{% load static %}
{% block title %} | Update Employee ( {{employee_update.id}} ){% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="content-wrapper">
  <h4 class="main-title">تعديل بيانات الموظف : {{employee_update.personID.f_Name_ar}} {{employee_update.personID.s_Name_ar}} {{employee_update.personID.t_Name_ar}} </h4>
 <div class="content">
  <br>
  <form method="POST">
    {% csrf_token %}
    {% include 'partials/_alerts.html' %}
    <button type="submit" class="btn btn-save">حفظ التعديل</button>
    <a href="{% url 'employees' %}" class="btn btn-close">إلغاء</a>
    <br>
    {% include 'employees/employee_form.html' %}
  </form>
 </div>
</div>
{% include 'partials/updateDropdown.html' %}
{% endblock %}