{% extends 'base.html' %}
{% load static %} 
{% block title %} | Employees {% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="main-title">
    <h4 class="form-group col-md-9">جميع الموظفين</h4>
  </div>
  <form method="GET" class="form-inline my-2 my-lg-0">
    <a href="{% url 'employee_create' %}" class="btn btn-main" target="blank">إضافة موظف جديد</a>
    <!-- Start Search -->
    <button class="btn btn-main" type="submit">بحث<i class="fa-solid fa-magnifying-glass"></i></button>
    <a href="{% url 'employees' %}" class="btn btn-main" type="submit">إعادة تعيين<i class="fa-solid fa-rotate-right"></i></a>
    <input class="form-control mr-sm-2 remove-outline" name="search_emp" placeholder="بحث بالإسم"/>
    <input class="form-control mr-sm-2 remove-outline" name="search_iqama" placeholder="بحث برقم الحدود"/>
    <input class="form-control mr-sm-2 remove-outline" name="search_border" placeholder="بحث برقم الإقامة"/>
    <input class="form-control mr-sm-2 remove-outline" name="search_company" placeholder="تصفية بالشركة"/>
    <!-- End Search -->
  </form>
  <br>
  <div class="content">
    <div class="form-inline my-2 my-lg-0"></div>
    <p class="sub-title">إجمالي عدد الموظفين : {{emp_count.count}}</p>
    <p class="sub-title">
      إجمالي الموظفين على رأس العمل : {{emp_workingStatus}}
    </p>
    <br>
    <br>

    <!-- End Search -->
     <div class="table-responsive">
       <table class="table table-hover">
         <thead>
           <tr>
             <th scope="col">#</th>
             <th scope="col">الإسم</th>
             <th scope="col">نوع الهوية</th>
             <th scope="col">رقم الهوية</th>
             <th scope="col">السكن</th>
             <th scope="col">رقم الجوال</th>
             <th scope="col">المستندات</th>
             <th scope="col">الإجراءات</th>
           </tr>
         </thead>
         <tbody>
           {% for emp in all_emp %}
           <tr>
             <!-- لعمل ارقام تسلسلة -->
             <th scope="row">{{forloop.counter}}</th>
             <!-- تفاصيل الجدول -->
             <td>{{emp.personID.f_Name_ar}}</td>
             <td>{{emp.personID.typeID}}</td>
             <td>{{emp.personID.id_number}}</td>
             <td>{{emp.personID.desAddress}}</td>
             <td>{{emp.personID.mobileNumber}}</td>
             <td>
               {% if emp.documentLink %}
               <a href="{{emp.documentLink}}" target="blank">رابط المستندات</a>
               {% else %}
               <a style="color: brown">لا يوجد مستندات</a>
               {% endif %}
             </td>
             <td>
               <a class="btn-link" href="{% url 'employee_update' emp.id %}">
                 <i class="fas fa-edit"></i>
               </a>
               <a href="{% url 'employee_reade' emp.id %}" class="btn-link">
                 <i class="fa fa-print" aria-hidden="true"></i>
               </a>
               <a href="{% url 'employee_delete' emp.id %}" class="btn-link">
                 <i class="fa fa-trash" aria-hidden="true"></i>
               </a>
             </td>
           </tr>
           {% endfor %}
         </tbody>
       </table>
     </div>
  </div>
</div>
{% endblock %}
