{% extends 'base.html' %} {% load static %} {% block title %} | Reade Employee  ( {{employee_reade.id}} ) {% endblock %} {% block content %}
<div class="content-wrapper">
  <h4 class="main-title">بطاقة تعريف الموظف :  {{employee_reade.personID.fullName_ar}}</h4>
 <div class="content">
  <br />
  <!-- <a href="{% url 'index' %}" class="btn btn-warning">الرئيسة</a> -->
  <a href="{% url 'employees' %}" class="btn btn-main">جميع الموظفين</a>
  <a href="{% url 'employee_update' emp_form.id %}" class="btn btn-main">تعديل</a>
  <br />
  <br />
  {% include 'partials/_alerts.html' %}
  <!-- Start Modal Countries -->
  {% include 'employees/employee_form.html' %}
 
 </div>
</div>
{% endblock %}
