{% extends 'base.html' %}
{% load static %} 
{% block title %} | Employees {% endblock %}
{% block content %}

<style>
  @media (max-width: 768px) {
    .table-responsive thead {
      display: none;
    }

    .table-responsive tbody, 
    .table-responsive th, 
    .table-responsive td {
      display: block;
    }

    .table-responsive tr {
      margin-bottom: 15px;
    }


    .table-responsive td, 
    .table-responsive th {
      direction: rtl; /* لضبط الاتجاه من اليمين إلى اليسار */
      text-align: right;
      padding-right: 25%;
      position: relative;
      width: 100vw;
    }

    .table-responsive td::before, 
    .table-responsive th::before {
      content: attr(data-label);
      position: absolute;
      right: 0;
      width: 20%;
      padding-right: 10px;
      margin: -12px 1px 2px 2px;
      padding: 12px 8px 12px 0px;
      font-weight: bold;
      background-color: rgb(219, 219, 219);
    }
  }


</style>

<div class="content-wrapper">
  <div class="main-title">
    <h4 class="form-group col-md-9">جميع الموظفين</h4>
  </div>
  <form method="GET" class="form-inline my-2 my-lg-0">
    <a href="{% url 'employee_create' %}" class="btn btn-main" target="blank">إضافة موظف جديد</a>
    <!-- Start Search -->
    <button class="btn btn-main" type="submit">بحث<i class="fa-solid fa-magnifying-glass"></i></button>
    <a href="{% url 'employees' %}" class="btn btn-main" type="submit">إعادة تعيين<i class="fa-solid fa-rotate-right"></i></a>
    <input class="form-control mr-sm-2 remove-outline" name="search_emp" placeholder="بحث بالإسم"/>
    <input class="form-control mr-sm-2 remove-outline" name="search_iqama" placeholder="بحث برقم الحدود"/>
    <input class="form-control mr-sm-2 remove-outline" name="search_border" placeholder="بحث برقم الإقامة"/>
    <input class="form-control mr-sm-2 remove-outline" name="search_company" placeholder="تصفية بالشركة"/>
    <!-- End Search -->
  </form>
  <br>
  {% include 'partials/_alerts.html' %}
  <div class="content">
    <div class="form-inline my-2 my-lg-0"></div>
    <p class="sub-title">إجمالي عدد الموظفين : {{employees.count}}</p>
    <p class="sub-title">
      إجمالي الموظفين على رأس العمل : {{emp_workingStatus}}
    </p>
    <br>
    <br>

    <!-- End Search -->
     <div class="table-responsive">
       <table class="table table-hover">
         <thead>
           <tr>
             <th scope="col">#</th>
             <th scope="col">الإسم</th>
             <th scope="col">نوع الهوية</th>
             <th scope="col">رقم الهوية</th>
             <th scope="col">السكن</th>
             <th scope="col">رقم الجوال</th>
             <th scope="col">المستندات</th>
             <th scope="col">الإجراءات</th>
           </tr>
         </thead>
         <tbody>
           {% for employee in employees %}
           <tr>
             <!-- لعمل ارقام تسلسلة -->
             <th data-label="#" scope="row">{{forloop.counter}}</th>
             <!-- تفاصيل الجدول -->
             <td data-label="الإسم">{{employee.personID.fullName_ar}}</td>
             <td data-label="نوع الهوية">{{employee.personID.typeID}}</td>
             <td data-label="رقم الهوية">{{employee.personID.id_number}}</td>
             <td data-label="العنوان">{{employee.personID.basicInfoID.address}}</td>
             <td data-label="جوال">{{employee.personID.basicInfoID.phone}}</td>
             <td data-label="إجراءات">
               {% if emp.documentLink %}
               <a href="{{emp.documentLink}}" target="blank">رابط المستندات</a>
               {% else %}
               <a style="color: brown">لا يوجد مستندات</a>
               {% endif %}
             </td>
             <td>
               <a class="btn-link" href="{% url 'employee_update' employee.id %}">
                 <i class="fas fa-edit"></i>
               </a>
               <a href="{% url 'employee_reade' employee.id %}" class="btn-link">
                 <i class="fa fa-print" aria-hidden="true"></i>
               </a>
               <a href="{% url 'employee_delete' employee.id %}" class="btn-link">
                 <i class="fa fa-trash" aria-hidden="true"></i>
               </a>
             </td>
           </tr>
           {% endfor %}
         </tbody>
       </table>
     </div>
  </div>
</div>
{% endblock %}
