{% extends 'base.html' %} {% load static %} {% block title %} | Reade Employee  ( {{employee_reade.id}} ) {% endblock %} {% block content %}
<div class="content-wrapper">
  <h4 class="main-title">بطاقة تعريف الموظف : {{employee_reade.personID.f_Name_ar}} {{employee_reade.personID.s_Name_ar}} {{employee_reade.personID.t_Name_ar}}
    {{employee_reade.personID.fo_Name_ar}}</h4>
 <div class="content">
  <br />
  <!-- <a href="{% url 'index' %}" class="btn btn-warning">الرئيسة</a> -->
  <a href="{% url 'employees' %}" class="btn btn-main">جميع الموظفين</a>
  <a href="{% url 'employee_update' employee_reade.id %}" class="btn btn-main">تعديل</a>
  {% include 'partials/_alerts.html' %}
  <div class="">
    <br />
    <h3 class="text-center">المعلومات الأساسية</h3>
    <div class="row no-gutters">
      <!-- المعرف - الإسم عربي - إنجليززي - تاريخ الميلاد - العمر - الجنس - الجنسية - الحالة الإجتماعية - رقم الهاتف - البنك - رقم الحساب -->
      <div class="card-body form-row">
        <div class="col-md-4">
          {% if emp.emp_Photo %}
          <img src="{{ emp.emp_Photo.url }}" class="card-img" alt="..." />
          {% else %}
          <img src="{% static 'dist/img/TS.png' %}" class="card-img" alt="" />
          {% endif %}
        </div>
        <div class="col-md-8">
          <div class="form-row">
            <label class="sub-title">ID : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{employee_reade.id}}
            </p>
          </div>
          <div class="form-row">
            <label class="sub-title">الإسم عربي : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{employee_reade.personID.f_Name_ar}} {{employee_reade.personID.s_Name_ar}} {{employee_reade.personID.t_Name_ar}}
              {{employee_reade.personID.fo_Name_ar}}
            </p>
          </div>
          <div class="form-row">
            <label class="sub-title">الإسم إنجليزي : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{employee_reade.personID.f_Name_en|lower|capfirst }} {{employee_reade.personID.s_Name_en|lower|capfirst }} {{employee_reade.personID.t_Name_en|lower|capfirst }}
              {{employee_reade.personID.fo_Name_en|lower|capfirst }}
            </p>
          </div>
          <div class="form-row">
            <label class="sub-title">تاريخ الميلاد : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{employee_reade.personID.dateOfBirth}}
            </p>
            <label class="sub-title">العمر : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{age}}
            </p>
            <label class="sub-title">الجنس : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{employee_reade.personID.genderID}}
            </p>
          </div>
          <div class="form-row">
            <label class="sub-title">الجنسية :</label>
            <p class="card-title sub-title-content" style="width: auto">
              {{employee_reade.personID.nationalityID}}
            </p>
            <label class="sub-title">الحالة الإجتماعية : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{employee_reade.personID.socialStatusID}}
            </p>
          </div>
          <div class="form-row">
            <label class="sub-title">رقم الهاتف : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{employee_reade.personID.mobileNumber}}
            </p>
            <label class="sub-title">البنك : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{employee_reade.personID.bankID}}
            </p>
          </div>
          <div class="form-row">
            <label class="sub-title">رقم الحساب : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{employee_reade.personID.accountNumber}}
            </p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <br />
        <h3 class="text-center">معلومات العمل</h3>
        <br />
        <div class="form-row">
          <label class="sub-title">الشركة</label>
          <p class="card-title sub-title-content">{{employee_reade.personID.companyID}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">المهنة</label>
          <p class="card-title sub-title-content">{{employee_reade.personID.workTradeID}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">التخصص</label>
          <p class="card-title sub-title-content">
            {{employee_reade.personID.workSpecialtyID}}
          </p>
        </div>
        <div class="form-row">
          <label class="sub-title">حالة العمل </label>
          <p class="card-title sub-title-content">
            {{employee_reade.personID.workingStatusID}}
          </p>
        </div>
        <div class="form-row">
          <label class="sub-title">رقم مكتب العمل</label>
          <p class="card-title sub-title-content">
            {{employee_reade.personID.businessOfficeNumber}}
          </p>
        </div>
        <div class="form-row">
          <label class="sub-title">تاريخ بداية العمل</label>
          <p class="card-title sub-title-content">
            {{employee_reade.personID.workStartingDate}}
          </p>
        </div>
        <div class="form-row">
          <label class="sub-title">راتب التأمينات</label>
          <p class="card-title sub-title-content">
            {{employee_reade.personID.salaryInsurance}}
          </p>
        </div>
        <div class="form-row">
          <label class="sub-title">راتب العقد</label>
          <p class="card-title sub-title-content">{{employee_reade.personID.contractSalary}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">إضافي ثابت</label>
          <p class="card-title sub-title-content">{{employee_reade.personID.fixedExtra}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">تاريخ إنتهاء العمل</label>
          <p class="card-title sub-title-content">
            {{employee_reade.personID.endDateOfService}}
          </p>
        </div>
      </div>
      <div class="card-body">
        <br />
        <h3 class="text-center">معلومات الوثائق</h3>
        <br />
        <div class="form-row">
          <label class="sub-title">رقم الجواز</label>
          <p class="card-title sub-title-content">{{employee_reade.personID.passportNumber}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">تاريخ إنتهاء الجواز</label>
          <p class="card-title sub-title-content">
            {{employee_reade.personID.passportExpiryDate}}
          </p>
        </div>
      
        <div class="form-row">
          <label class="sub-title">ملاحظات</label>
          <p class="card-title sub-title-content">{{employee_reade.personID.notes}}</p>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
{% endblock %}
