{% extends 'base.html' %} {% load static %} {% block title %} | Employee
Details{% endblock %} {% block content %}
<div class="content-wrapper">
  <h4 class="main-title">بطاقة تعريف الموظف : {{emp.f_Name_ar}} {{emp.s_Name_ar}} {{emp.t_Name_ar}}
    {{emp.fo_Name_ar}}</h4>
 <div class="content">
  <br />
  <!-- <a href="{% url 'index' %}" class="btn btn-warning">الرئيسة</a> -->
  <a href="{% url 'employees' %}" class="btn btn-main">جميع الموظفين</a>
  <a href="{% url 'update_emp' emp.id %}" class="btn btn-main">تعديل</a>
  {% include 'partials/_alerts.html' %}
  <div class="">
    <br />
    <h3 class="text-center">المعلومات الأساسية</h3>
    <div class="row no-gutters">
      <!-- المعرف - الإسم عربي - إنجليززي - تاريخ الميلاد - العمر - الجنس - الجنسية - الحالة الإجتماعية - رقم الهاتف - البنك - رقم الحساب -->
      <div class="card-body form-row">
        <div class="col-md-4">
          {% if emp.emp_Photo %}
          <img src="{{ emp.emp_Photo.url }}" class="card-img" alt="..." />
          {% else %}
          <img src="{% static 'dist/img/TS.png' %}" class="card-img" alt="" />
          {% endif %}
        </div>
        <div class="col-md-8">
          <div class="form-row">
            <label class="sub-title">ID : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{emp.id}}
            </p>
          </div>
          <div class="form-row">
            <label class="sub-title">الإسم عربي : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{emp.f_Name_ar}} {{emp.s_Name_ar}} {{emp.t_Name_ar}}
              {{emp.fo_Name_ar}}
            </p>
          </div>
          <div class="form-row">
            <label class="sub-title">الإسم إنجليزي : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{emp.f_Name_en|lower|capfirst }} {{emp.s_Name_en|lower|capfirst }} {{emp.t_Name_en|lower|capfirst }}
              {{emp.fo_Name_en|lower|capfirst }}
            </p>
          </div>
          <div class="form-row">
            <label class="sub-title">تاريخ الميلاد : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{emp.dateOfBirth}}
            </p>
            <label class="sub-title">العمر : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{age}}
            </p>
            <label class="sub-title">الجنس : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{emp.genderID}}
            </p>
          </div>
          <div class="form-row">
            <label class="sub-title">الجنسية :</label>
            <p class="card-title sub-title-content" style="width: auto">
              {{emp.nationalityID}}
            </p>
            <label class="sub-title">الحالة الإجتماعية : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{emp.socialStatusID}}
            </p>
          </div>
          <div class="form-row">
            <label class="sub-title">رقم الهاتف : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{emp.mobileNumber}}
            </p>
            <label class="sub-title">البنك : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{emp.bankID}}
            </p>
          </div>
          <div class="form-row">
            <label class="sub-title">رقم الحساب : </label>
            <p class="card-title sub-title-content" style="width: auto">
              {{emp.accountNumber}}
            </p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <br />
        <h3 class="text-center">معلومات العمل</h3>
        <br />
        <div class="form-row">
          <label class="sub-title">الشركة</label>
          <p class="card-title sub-title-content">{{emp.companyID}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">الكفيل</label>
          <p class="card-title sub-title-content">{{emp.sponserID}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">المهنة</label>
          <p class="card-title sub-title-content">{{emp.workTradeID}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">التخصص</label>
          <p class="card-title sub-title-content">
            {{emp.workSpecialtyID}}
          </p>
        </div>
        <div class="form-row">
          <label class="sub-title">حالة العمل </label>
          <p class="card-title sub-title-content">
            {{emp.workingStatusID}}
          </p>
        </div>
        <div class="form-row">
          <label class="sub-title">رقم مكتب العمل</label>
          <p class="card-title sub-title-content">
            {{emp.businessOfficeNumber}}
          </p>
        </div>
        <div class="form-row">
          <label class="sub-title">تاريخ بداية العمل</label>
          <p class="card-title sub-title-content">
            {{emp.workStartingDate}}
          </p>
        </div>
        <div class="form-row">
          <label class="sub-title">راتب التأمينات</label>
          <p class="card-title sub-title-content">
            {{emp.salaryInsurance}}
          </p>
        </div>
        <div class="form-row">
          <label class="sub-title">راتب العقد</label>
          <p class="card-title sub-title-content">{{emp.contractSalary}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">إضافي ثابت</label>
          <p class="card-title sub-title-content">{{emp.fixedExtra}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">تاريخ إنتهاء العمل</label>
          <p class="card-title sub-title-content">
            {{emp.endDateOfService}}
          </p>
        </div>
      </div>
      <div class="card-body">
        <br />
        <h3 class="text-center">معلومات الوثائق</h3>
        <br />
        <div class="form-row">
          <label class="sub-title">رقم الجواز</label>
          <p class="card-title sub-title-content">{{emp.passportNumber}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">تاريخ إنتهاء الجواز</label>
          <p class="card-title sub-title-content">
            {{emp.passportExpiryDate}}
          </p>
        </div>
        <div class="form-row">
          <label class="sub-title">تاريخ الدخول</label>
          <p class="card-title sub-title-content">{{emp.enteryDate}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">رقم الحدود</label>
          <p class="card-title sub-title-content">{{emp.borderNumber}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">رقم التأشيرة</label>
          <p class="card-title sub-title-content">{{emp.visaNumber}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">رقم الإقامة</label>
          <p class="card-title sub-title-content">{{emp.iqamaNumber}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">تاريخ إصدار الإقامة</label>
          <p class="card-title sub-title-content">
            {{emp.iqamaReleaseDate}}
          </p>
        </div>
        <div class="form-row">
          <label class="sub-title">تاريخ إنتهاء الإقامة</label>
          <p class="card-title sub-title-content">
            {{emp.iqamaExpiredDate}}
          </p>
        </div>
        <div class="form-row">
          <label class="sub-title">التأمين الطبي</label>
          <p class="card-title sub-title-content">
            {{emp.medicalInsurance}}
          </p>
        </div>
        <div class="form-row">
          <label class="sub-title">تاريخ إنتهاء التأمين</label>
          <p class="card-title sub-title-content">
            {{emp.medicalInsuranceExpirDate}}
          </p>
        </div>
        <div class="form-row">
          <label class="sub-title">نسخة مقيم</label>
          <p class="card-title sub-title-content">{{emp.muqeemCopy}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">فحص كرونا</label>
          <p class="card-title sub-title-content">{{emp.coronaCheck}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">توكلنا</label>
          <p class="card-title sub-title-content">{{emp.tawaklna}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">صحتي</label>
          <p class="card-title sub-title-content">{{emp.sahaty}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">ملاحظات</label>
          <p class="card-title sub-title-content">{{emp.notes}}</p>
        </div>
        <div class="form-row">
          <label class="sub-title">رابط المستندات</label>
          <p class="card-title sub-title-content">{{emp.documentLink}}</p>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
{% endblock %}
