{% extends 'base.html' %}
{% load static %}
{% block title %} | Employee Update{% endblock %}
{% block content %}
<div class="content-wrapper">
  <h4 class="main-title">تعديل بيانات الموظف : {{update_emp.personID.f_Name_ar}} {{update_emp.personID.s_Name_ar}} {{update_emp.personID.t_Name_ar}} </h4>
 <div class="content">
  <br>
  <form method="POST">
    {% csrf_token %}
    {% include 'partials/_alerts.html' %}
    <button type="submit" class="btn btn-save">حفظ التعديل</button>
    <a href="{% url 'employees' %}" class="btn btn-close">إلغاء</a>
    <br>
    <br>
    <br>
    <h6 style="font-weight: bold">الإسم الكامل - عربي</h6>
    <div class="form-row">
      <div class="form-group col-md-3">{{update_person_form.f_Name_ar}}</div>
      <div class="form-group col-md-3">{{update_person_form.s_Name_ar}}</div>
      <div class="form-group col-md-3">{{update_person_form.t_Name_ar}}</div>
      <div class="form-group col-md-3">{{update_person_form.fo_Name_ar}}</div>
    </div>
    <h6 style="font-weight: bold">الإسم الكامل - إنجليزي</h6>
    <div class="form-row">
      <div class="form-group col-md-3">{{update_person_form.f_Name_en}}</div>
      <div class="form-group col-md-3">{{update_person_form.s_Name_en}}</div>
      <div class="form-group col-md-3">{{update_person_form.t_Name_en}}</div>
      <div class="form-group col-md-3">{{update_person_form.fo_Name_en}}</div>
    </div>
    <!-- تاريخ الميلا - الجنس - الجنسية - الحالة الإجتماعية -->
    <div class="form-row">
      <div class="form-group col-md-3">{{update_person_form.dateOfBirth}}</div>
      <div class="form-group col-md-3">{{update_person_form.genderID}}</div>
      <div class="form-group col-md-3">{{update_person_form.nationalityID}}</div>
      <div class="form-group col-md-3">{{update_person_form.socialStatusID}}</div>
    </div>
    <!--  نوع الهوية - رقم الهوية - تاريخ إنتهاء الهوية  -->
    <div class="form-row">
      <div class="form-group col-md-3">{{update_person_form.typeID}}</div>
      <div class="form-group col-md-3">{{update_person_form.id_number}}</div>
      <div class="form-group col-md-3">{{update_person_form.id_ExpiredDate}}</div>
    </div>
    <!--  الدولة - الولاية - المدية -  وصف العنوان -->
    <div class="form-row">
      <div class="form-group col-md-3">{{update_person_form.countryID}}</div>
      <div class="form-group col-md-3">{{update_person_form.regionID}}</div>
      <div class="form-group col-md-3">{{update_person_form.stateID}}</div>
      <div class="form-group col-md-3">{{update_person_form.cityID}}</div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">{{update_person_form.desAddress}}</div>
    </div>
    <h4>معلومات الإتصال</h4>
    <!--البريد الإلكتروني - رقم الجوال - رقم جوال آخر -->
    <div class="form-row">
      <div class="form-group col-md-3">{{update_person_form.mobileNumber}}</div>
      <div class="form-group col-md-3">{{update_person_form.mobileNumberAnother}}</div>
      <div class="form-group col-md-6">{{update_person_form.email}}</div>
    </div>
    <h4>معلومات العمل</h4>
    <!-- حالة العمل - الراتب الأساسي - الإضافي - تاريخ بداية العمل -->
    <!-- المهنة - التخصص - الشركة - بداية العمل -->
    <div class="form-row">
      <div class="form-group col-md-3">{{update_emp_form.companyID}}</div>
      <div class="form-group col-md-3">{{update_person_form.workTradeID}}</div>
      <div class="form-group col-md-3">{{update_person_form.workSpecialtyID}}</div>
      <div class="form-group col-md-3">{{update_emp_form.workStartDate}}</div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">{{update_emp_form.workingStatusID}}</div>
      <div class="form-group col-md-3">{{update_emp_form.contractSalary}}</div>
      <div class="form-group col-md-3">{{update_emp_form.fixedExtra}}</div>
      <div class="form-group col-md-3">{{update_emp_form.workEndDate}}</div>
    </div>
    <!-- البنك - الفرع - نوع الحساب - رقم الحساب - رقم الأيبان ر -->
    <div class="form-row">
      <div class="form-group col-md-4">{{update_person_form.bankID}}</div>
      <div class="form-group col-md-4">{{update_person_form.branchBankID}}</div>
      <div class="form-group col-md-4">{{update_person_form.typeAccBankID}}</div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">{{update_person_form.accountNumber}}</div>
      <div class="form-group col-md-6">{{update_person_form.IBANNumber}}</div>
    </div>
    <!-- صورة الموظف - رابط المستندات - ملاحظات -->
    <div class="form-row">
      <div class="form-group col-md-4">{{update_person_form.emp_Photo}}</div>
      <div class="form-group col-md-4">{{update_person_form.attachments}}</div>
      <div class="form-group col-md-4">{{update_person_form.notes}}</div>
    </div>  
  </form>
 </div>
</div>
{% endblock %}