{% extends 'base.html' %}
{% load static %}
{% block title %} | Employee Update{% endblock %}
{% block content %}
<div class="content-wrapper">
  <h4 class="main-title">تعديل بيانات الموظف : {{emp.f_Name_ar}} {{emp.s_Name_ar}} {{emp.t_Name_ar}} </h4>
 <div class="content">
  <br>
  <form method="POST">
    <button type="submit" class="btn btn-save">حفظ التعديل</button>
    <a href="{% url 'employees' %}" class="btn btn-close">إلغاء</a>
      <br>
      <br>
        {% csrf_token %}
          {% include 'partials/_alerts.html' %}
          <br>
          <h6 style="font-weight: bold;">الإسم الكامل - عربي</h6>
          <div class="form-row"> 
            <div class="form-group col-md-3">{{emp_form.f_Name_ar}}</div>
            <div class="form-group col-md-3">{{emp_form.s_Name_ar}}</div>
            <div class="form-group col-md-3">{{emp_form.t_Name_ar}}</div>
            <div class="form-group col-md-3">{{emp_form.fo_Name_ar}}</div>
          </div>
          <h6 style="font-weight: bold;">الإسم الكامل - إنجليزي</h6>
          <div class="form-row"> 
            <div class="form-group col-md-3">{{emp_form.f_Name_en}}</div>
            <div class="form-group col-md-3">{{emp_form.s_Name_en}}</div>
            <div class="form-group col-md-3">{{emp_form.t_Name_en}}</div>
            <div class="form-group col-md-3">{{emp_form.fo_Name_en}}</div>
          </div>
          <!-- تاريخ الميلا - الجنس - الجنسية - الحالة الإجتماعية -->
          <div class="form-row"> 
            <div class="form-group col-md-3">{{emp_form.dateOfBirth}}</div>
            <div class="form-group col-md-3">{{emp_form.genderID}}</div>
            <div class="form-group col-md-3">{{emp_form.nationalityID}}</div>
            <div class="form-group col-md-3">{{emp_form.socialStatusID}}</div>
          </div>
          <!-- رقم الجواز - تاريخ إنتهاء الجواز - تاريخ الدخول - رقم الحدود -->
          <div class="form-row"> 
            <div class="form-group col-md-3">{{emp_form.passportNumber}}</div>
            <div class="form-group col-md-3">{{emp_form.passportExpiryDate}}</div>
            <div class="form-group col-md-3">{{emp_form.enteryDate}}</div>
            <div class="form-group col-md-3">{{emp_form.borderNumber}}</div>
          </div>
          <!-- الكفيل - الشركة - رقم التأشيرة - رقم مكتب العمل -->
          <div class="form-row"> 
            <div class="form-group col-md-3">{{emp_form.visaNumber}}</div>
            <div class="form-group col-md-3">{{emp_form.sponserID}}</div>
            <div class="form-group col-md-3">{{emp_form.companyID}}</div>
            <div class="form-group col-md-3">{{emp_form.businessOfficeNumber}}</div>
          </div>
          <!-- رقم الإقامة - إنتهاء التأمين الطبي - تاريخ إصدار الإقامة - تاريخ الإنتهاء -->
          <div class="form-row"> 
            <div class="form-group col-md-3">{{emp_form.iqamaNumber}}</div>
            <div class="form-group col-md-3">{{emp_form.iqamaReleaseDate}}</div>
            <div class="form-group col-md-3">{{emp_form.iqamaExpiredDate}}</div>
            <div class="form-group col-md-3">{{emp_form.medicalInsuranceExpirDate}}</div>
          </div>
          <h4>معلومات العمل</h4>
          <!-- تاريخ بداية العمل - المهنة - التخصص - حالة العمل -->
          <div class="form-row"> 
            <div class="form-group col-md-3">{{emp_form.workStartingDate}}</div>
            <div class="form-group col-md-3">{{emp_form.workTradeID}}</div>
            <div class="form-group col-md-3">{{emp_form.workSpecialtyID}}</div>
            <div class="form-group col-md-3">{{emp_form.workingStatusID}}</div>
          </div>
          <!-- تاريخ إنتهاء العمل - راتب التأمينات - راتب العقد - إضافي ثابت -->
          <div class="form-row"> 
            <div class="form-group col-md-3">{{emp_form.salaryInsurance}}</div>
            <div class="form-group col-md-3">{{emp_form.contractSalary}}</div>
            <div class="form-group col-md-3">{{emp_form.fixedExtra}}</div>
            <div class="form-group col-md-3">{{emp_form.endDateOfService}}</div>
          </div>
          <!-- البنك - رقم الحساب - رقم الجوال -->
          <div class="form-row"> 
            <div class="form-group col-md-3">{{emp_form.bankID}}</div>
            <div class="form-group col-md-6">{{emp_form.accountNumber}}</div>
            <div class="form-group col-md-3">{{emp_form.mobileNumber}}</div>
          </div>
          <h4>معلومات الوثائق</h4>
          <!-- التأمين الطبي - نسخة مقيم - فحص كرونا - توكلنا - صحتي -->
          <div class="form-row"> 
            <div class="form-group col-md-3">{{emp_form.medicalInsurance}}</div>
            <div class="form-group col-md-3">{{emp_form.muqeemCopy}}</div>
            <div class="form-group col-md-3">{{emp_form.coronaCheck}}</div>
            <div class="form-group col-md-3">{{emp_form.tawaklna}}</div>
            <div class="form-group col-md-3">{{emp_form.sahaty}}</div>
          </div>
          <!-- صورة الموظف - رابط المستندات - ملاحظات -->
          <div class="form-row"> 
            <div class="form-group col-md-3">{{emp_form.emp_Photo}}</div>
            <div class="form-group col-md-3">{{emp_form.documentLink}}</div>
            <div class="form-group col-md-3">{{emp_form.coronaCheck}}</div>
            <div class="form-group col-md-3">{{emp_form.notes}}</div>
          </div>
  </form>
 </div>
</div>
{% endblock %}