{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="theme-color" content="#fee440">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4385125030567370"
     crossorigin="anonymous"></script>
     <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KZRY420LSY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KZRY420LSY');
</script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="دليل الأعمال السودانية في مصر">
    <meta property="og:description" content="
أول دليل إرشادي متخصص في توفير معلومات عن الأعمال والأنشطة التجارية السودانية في مصر, *الهدف من الدليل :* 

* *✅ تسويق الأعمال التجارية* ، سيما وأن غالبية أصحاب الأعمال بدأو من الصفر وفي أماكن جديدة.

* *✅ توفير آلية سهلة وسلسلة* للمستهلكين للعثور على الأعمال القريبة من مكان سكنهم.

* *✅ التشبيك بين أصحاب الأعمال* عن طريق التعرف على بعضهم البعض.

* *✅ تعزيز التعاون التجاري بين البلدين.* والترابط المجتمعي بين الشعبين.

* *✅ إبراز الجانب الحيوي المُنتج والمُفيد* للجالية السودانية في مصر.">
    {% block iconog %}
      <meta property="og:image" content="{%  static 'dist/img/dalilalaemal_logo_sudan.jpg' %}">
    {% endblock %}
    <!-- <meta property="og:image" content="{%  static 'dist/img/dalilalaemal_logo_sudan.jpg' %}"> -->
    <meta property="og:url" content="https://dalilalaemal.com">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="دليل الأعمال السودانية في مصر">
    {% block icontw %}
      <meta name="twitter:image" content="{%  static 'dist/img/dalilalaemal_logo_sudan.jpg' %}">
    {% endblock %}
    <!-- <meta name="twitter:image" content="{%  static 'dist/img/dalilalaemal_logo_sudan.jpg' %}"> -->
    <meta name="twitter:description" content="
أول دليل إرشادي متخصص في توفير معلومات عن الأعمال والأنشطة التجارية السودانية في مصر, *الهدف من الدليل :* 

* *✅ تسويق الأعمال التجارية* ، سيما وأن غالبية أصحاب الأعمال بدأو من الصفر وفي أماكن جديدة.

* *✅ توفير آلية سهلة وسلسلة* للمستهلكين للعثور على الأعمال القريبة من مكان سكنهم.

* *✅ التشبيك بين أصحاب الأعمال* عن طريق التعرف على بعضهم البعض.

* *✅ تعزيز التعاون التجاري بين البلدين.* والترابط المجتمعي بين الشعبين.

* *✅ إبراز الجانب الحيوي المُنتج والمُفيد* للجالية السودانية في مصر.">

    <title>دليل الأعمال{% block title %}{% endblock %}</title>
    <!-- Responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/jpg" href="{% static 'dist/img/dalilalaemal.jpg' %}?v=0.1" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- AdSense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4385125030567370" crossorigin="anonymous"></script>
    <!-- Font Awesome (تأكد من إزالة التكرار) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- AdminLTE Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}" />
    <!-- Bootstrap 4 RTL -->
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"/>
    <!-- Custom RTL Style -->
    <link rel="stylesheet" href="{% static 'dist/css/dalil_main.css' %}?v=2.6" />
  </head>
  <body>
    <div class="wrapper">


      {% include 'partials/_navbar_dalil.html' %}
      {% block content %}
      {% endblock %}
      {% include 'partials/_footer_dalil.html' %}
    </div>
    <br>
    <br>
    <br>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery UI -->
    <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script>$.widget.bridge("uibutton", $.ui.button);</script>
    <!-- Bootstrap 4 rtl -->
    <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js"></script>
    <!-- Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- تحميل مكتبة dalil.js الخاصة بك -->
    <script src="{% static 'dist/js/dalil.js' %}?v=0.1"></script>    
  </body>
</html>
