{% extends 'base.html' %} {% block title %} | Profile{% endblock %} 
{% block content %}

<div class="content-wrapper">
  <h4 class="main-title">
    حذف بيانات الموظف : {{employee_delete.personID.f_Name_ar}}
    {{employee_delete.personID.s_Name_ar}}
    {{employee_delete.personID.t_Name_ar}}
    {{employee_delete.personID.fo_Name_ar}}
  </h4>
  <div class="content">
    <br />
    <form method="POST">
      {% csrf_token %} {% include 'partials/_alerts.html' %}
      <button type="submit" class="btn btn-save">حفظ التعديل</button>
      <a href="{% url 'employees' %}" class="btn btn-close">إلغاء</a>
      <br />
      <br />
      <br />
      <div class="form-row">
        <label class="form-group col-md-1 title-label">الإسم عربي</label>
        <div class="form-group col-md-2">{{profile_form.f_Name_ar}}</div>
        <div class="form-group col-md-3">{{profile_form.s_Name_ar}}</div>
        <div class="form-group col-md-3">{{profile_form.t_Name_ar}}</div>
        <div class="form-group col-md-3">{{profile_form.fo_Name_ar}}</div>
      </div>
      <div class="form-row">
        <label class="form-group col-md-1 title-label">الإسم إنجليزي</label>
        <div class="form-group col-md-2">{{profile_form.f_Name_en}}</div>
        <div class="form-group col-md-3">{{profile_form.s_Name_en}}</div>
        <div class="form-group col-md-3">{{profile_form.t_Name_en}}</div>
        <div class="form-group col-md-3">{{profile_form.fo_Name_en}}</div>
      </div>
      <!-- تاريخ الميلا - الجنس - الجنسية - الحالة الإجتماعية -->
      <div class="form-row">
        <label class="form-group col-md-1 title-label">تاريخ الميلاد</label>
        <div class="form-group col-md-2">
          {{profile_form.dateOfBirth}}
        </div>
        <label class="form-group col-md-1 title-label">الجنس</label>
        <div class="form-group col-md-2">{{profile_form.genderID}}</div>
        <label class="form-group col-md-1 title-label">الجنسية</label>
        <div class="form-group col-md-2">
          {{profile_form.nationalityID}}
        </div>
        <label class="form-group col-md-1 title-label">الحالة الإجتماعية</label>
        <div class="form-group col-md-2">
          {{profile_form.socialStatusID}}
        </div>
      </div>
      <!--  الدولة - الولاية - المدية -  وصف العنوان -->
      <div class="form-row">
        <label class="form-group col-md-1 title-label">الدولة</label>
        <div class="form-group col-md-2">{{profile_form.countryID}}</div>
        <label class="form-group col-md-1 title-label">المنطقة</label>
        <div class="form-group col-md-2">{{profile_form.regionID}}</div>
        <label class="form-group col-md-1 title-label">الولاية</label>
        <div class="form-group col-md-2">{{profile_form.stateID}}</div>
        <label class="form-group col-md-1 title-label">المدينة</label>
        <div class="form-group col-md-2">{{profile_form.cityID}}</div>
      </div>
      <!-- المهنة - التخصص - المسوق -->
      <div class="form-row">
        <label class="form-group col-md-1 title-label">المهنة</label>
        <div class="form-group col-md-3">
          {{profile_form.workTradeID}}
        </div>
        <label class="form-group col-md-1 title-label">التخصص</label>
        <div class="form-group col-md-3">
          {{profile_form.workSpecialtyID}}
        </div>
        <label class="form-group col-md-1 title-label">عنوان المنزل</label>
        <div class="form-group col-md-3">{{profile_form.desAddress}}</div>
      </div>
      <!--  نوع الهوية - رقم الهوية - تاريخ إنتهاء الهوية  -->
      <div class="form-row">
        <label class="form-group col-md-1 title-label">نوع الهوية</label>
        <div class="form-group col-md-2">{{profile_form.typeID}}</div>
        <label class="form-group col-md-1 title-label">رقم الهوية</label>
        <div class="form-group col-md-2">{{profile_form.id_number}}</div>
        <label class="form-group col-md-1 title-label">تاريخ الإنتهاء</label>
        <div class="form-group col-md-2">
          {{profile_form.id_ExpiredDate}}
        </div>
        <label class="form-group col-md-1 title-label">المشرف</label>
        <div class="form-group col-md-2">{{share_form.marketerID}}</div>
      </div>
      <!--البريد الإلكتروني - رقم الجوال - رقم جوال آخر -->
      <br />
      <div class="form-row">
        <label class="form-group col-md-1 title-label">رقم الجوال</label>
        <div class="form-group col-md-3">
          {{profile_form.mobileNumber}}
        </div>
        <label class="form-group col-md-1 title-label">جوال آخر</label>
        <div class="form-group col-md-3">
          {{profile_form.mobileNumberAnother}}
        </div>
        <label class="form-group col-md-1 title-label">البريد الإلكتروني</label>
        <div class="form-group col-md-3">{{profile_form.email}}</div>
      </div>
      <br />
      <!-- البنك - الفرع - نوع الحساب - رقم الحساب - رقم الأيبان ر -->
      <div class="form-row">
        <label class="form-group col-md-1 title-label">البنك</label>
        <div class="form-group col-md-3">{{profile_form.bankID}}</div>
        <label class="form-group col-md-1 title-label">الفرع</label>
        <div class="form-group col-md-3">
          {{profile_form.branchBankID}}
        </div>
        <label class="form-group col-md-1 title-label">نوع الحساب</label>
        <div class="form-group col-md-3">
          {{profile_form.typeAccBankID}}
        </div>
      </div>
      <div class="form-row">
        <label class="form-group col-md-1 title-label">رقم الحساب</label>
        <div class="form-group col-md-4">
          {{profile_form.accountNumber}}
        </div>
        <label class="form-group col-md-1 title-label">رقم الآي بان</label>
        <div class="form-group col-md-6">{{profile_form.IBANNumber}}</div>
      </div>
      <br />
      <!-- صورة الموظف - رابط المستندات - ملاحظات -->
      <div class="form-row">
        <label class="form-group col-md-1 title-label">صورة شخصية</label>
        <div class="form-group col-md-3">{{profile_form.photo}}</div>
        <label class="form-group col-md-1 title-label">مرفقات</label>
        <div class="form-group col-md-3">
          {{profile_form.attachments}}
        </div>
        <label class="form-group col-md-1 title-label">ملاحظات</label>
        <div class="form-group col-md-3">{{profile_form.notes}}</div>
      </div>
      <!-- المهنة - التخصص - الشركة - بداية العمل -->
      <div class="form-row">
        <label class="form-group col-md-1 title-label">الشركة</label>
        <div class="form-group col-md-3">
          {{employee_update_form.companyID}}
        </div>
        <label class="form-group col-md-1 title-label">بداية العمل</label>
        <div class="form-group col-md-3">
          {{employee_update_form.workStartDate}}
        </div>
        <label class="form-group col-md-1 title-label">نهاية العمل</label>
        <div class="form-group col-md-3">
          {{employee_update_form.workEndDate}}
        </div>
      </div>
      <!-- حالة العمل - الراتب الأساسي - الإضافي - تاريخ بداية العمل -->
      <div class="form-row">
        <label class="form-group col-md-1 title-label">حالة العمل</label>
        <div class="form-group col-md-3">
          {{employee_update_form.workingStatusID}}
        </div>
        <label class="form-group col-md-1 title-label">الراتب الأساسي</label>
        <div class="form-group col-md-3">
          {{employee_update_form.contractSalary}}
        </div>
        <label class="form-group col-md-1 title-label">الإضافي</label>
        <div class="form-group col-md-3">
          {{employee_update_form.fixedExtra}}
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
