{% extends 'base.html' %}
{% block title %} | Signup{% endblock %}
{% block content %}
<div class="register-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="#" class="h1"><b>AIS</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Register a new membership</p>
        {% include 'partials/_alerts.html' %}
        {% if is_added == True %}
        <form method="POST" style="display: none;">
        {% else %}
        <form method="POST">
        {% endif %}
            {% csrf_token %}
           
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFirstName">First Name</label>
                    {{user_form.first_name}}
                  </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName">Last Name</label>
                    {{user_form.last_name}}
                </div>
            </div>
            <!-- <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" name="city" id="inputCity" required value="{{city}}">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputZip">State</label>
                    <input type="text" class="form-control" name="state" id="inputstate" required value="{{state}}">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" name="zip" id="inputZip" placeholder="11111" required value="{{zip}}">
                </div>
            </div> -->
            <div class="form-group">
                <label for="inputEmail">البريد الإلكتروني</label>
                {{user_form.email}}
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail">إسم المستخم</label>
                  {{user_form.username}}
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword">رقم الهاتف</label>
                  {{user_form.password}}                
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword">كلمة المرور</label>
                {{user_form.password}}
              </div>
              <div class="form-group">
                <label for="inputPassword">تأكيد كلمة المرور</label>
                {{user_form.password}}
              </div>
           
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" name="terms" id="inputTerms" >
                <label for="agreeTerms">
                 I agree to the <a href="#">terms</a>
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit"  name="btnsignup" class="btn btn-primary btn-block">Register</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
        <div class="social-auth-links text-center">
          <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i>
            Sign up using Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i>
            Sign up using Google+
          </a>
        </div>
        <a href="{% url 'signin' %}" class="text-center">I already have a membership</a>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
{% endblock %}